<!doctype html>
{% load staticfiles %}
<html>
<head>
<title>10314146</title>
<meta charset=utf-8>
</head>
<body style="background-color:MistyRose;">
<h1>歷年專輯介紹</h1>
<h2><p><a href={% url 'wiki:歷年專輯介紹' %}>回歷年專輯介紹</a><p></h2>
<p style="margin: 0px 0px 1em; padding: 0px; color: rgb(68, 68, 68); font-family: Verdana; letter-spacing: 1.5px; line-height: 18px; background-color: rgb(255, 255, 255);">
	<span style="font-family: 標楷體; color: rgb(153, 204, 0); font-size: 24pt;"><strong>第四張正規專輯《Bonamana》（C版）</strong></span></p>
<p style="margin: 0px 0px 1em; padding: 0px; color: rgb(68, 68, 68); font-family: Verdana; letter-spacing: 1.5px; line-height: 18px; background-color: rgb(255, 255, 255);">
	<br style="letter-spacing: 0px;" />
	<span style="font-family: 標楷體; color: rgb(153, 204, 0); font-size: 24pt;"><strong>發行日期：2010年5月13日</strong></span></p>
<p style="margin: 0px 0px 1em; padding: 0px; color: rgb(68, 68, 68); font-family: Verdana; letter-spacing: 1.5px; line-height: 18px; background-color: rgb(255, 255, 255);">
	<span style="font-family: 標楷體; color: rgb(153, 204, 0); font-size: 24pt;"><img alt="" height="266" src="http://musicimg.cyworld.com/ALBUM/015/081/15081015.jpg" style="border: 0px;" width="300" /></span></p>
<p>繼《SORRY, SORRY》之後，SJ再次征服全亞洲！<br>
今年最受囑目冠軍勁歌《美人啊 BONAMANA》<br>
SUPER JUNIOR 第四張專輯 「美人啊 [BONAMANA]」 <br>
●復古龐克風(MODS & PUNK)寫真A版<br>
SORRY, SORRY之後 只愛BONAMANA！今夏席捲全亞洲的韓樂冠軍專輯！<br>
SUPER JUNIOR 第四張專輯 ─ 美人啊 [BONAMANA]，<br>
復古龐克風寫真A版、幕後拍攝花絮寫真B版，不同寫真、不同包裝、雙版本、台灣同步發行！<br>
收錄SJ FUNKY、HIP-HOP、R&B抒情與流行舞曲等全新歌曲，由《Sorry, Sorry》及SJ-M《Super Girl》<br>
人氣作曲家劉英真為SJ打造全新主打歌《美人啊 BONAMANA》，特別推薦藝聲&圭賢的合唱曲《我這個人》，與厲旭的首支獨唱曲《春日》！</p>
<p style="margin: 0px 0px 1em; padding: 0px; color: rgb(68, 68, 68); font-family: Verdana; letter-spacing: 1.5px; line-height: 18px; background-color: rgb(255, 255, 255);">
	<span style="color: rgb(0, 0, 0); font-size: 14pt;"><strong>1.미인아 (BONAMANA)美人啊</strong><br style="letter-spacing: 0px;" />
	<strong>2.너 같은 사람 또 없어 (No Other)</strong><br style="letter-spacing: 0px;" />
	<strong>3.Shake It Up! (Remix)</strong><br style="letter-spacing: 0px;" />
	<strong>4.진심 (All My Heart)</strong><br style="letter-spacing: 0px;" />
	<strong>5.여행 (A Short Journey)(feat 強仁)</strong><br style="letter-spacing: 0px;" />
	<strong>6.나쁜 여자 (Boom Boom)壞女人</strong><br style="letter-spacing: 0px;" />
	<strong>7.응결 (Coagulation)(Super Junior-K.R.Y)凝結</strong><br style="letter-spacing: 0px;" />
	<strong>8.나란 사람 (Your Eyes) (藝聲、圭賢)我這個人</strong><br style="letter-spacing: 0px;" />
	<strong>9.My Only Girl</strong><br style="letter-spacing: 0px;" />
	<strong>10.사랑이 이렇게 (My All Is In You)愛情就是這樣</strong><br style="letter-spacing: 0px;" />
	<strong>11.Shake It Up!</strong><br style="letter-spacing: 0px;" />
	<strong>12.잠들고 싶어 (In My Dream)(Super Junior-K.R.Y、晟敏、東海)想要入睡</strong><br style="letter-spacing: 0px;" />
	<strong>13.봄날 (One Fine Spring Day)(厲旭solo)春日</strong><br style="letter-spacing: 0px;" />
	<strong>14.좋은 사람 (Good Person)好人</strong><br style="letter-spacing: 0px;" />
	<strong>15.Here We Go</strong></span></p>
	
</body>

</html>