<!doctype html>
{% load staticfiles %}
<html>
<head>
<title>10314146</title>
<meta charset=utf-8>
</head>
<body style="background-color:MistyRose;">
<h2><p><a href={% url 'wiki:成員' %}>回成員介紹</a><p></h2>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="font-size: 12pt; color: rgb(0, 0, 0);"><strong>東海</strong></span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<img alt="DongHae-2.jpg" border="0" src="https://pic.pimg.tw/hanzhiyu/1437199705-3877624171_n.jpg" style="border: 0px;" title="DongHae-2.jpg" /></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="font-size: 15pt;">藝名：Dong-Hae（동해）</span><br />
	<span style="font-size: 15pt;">本名：李東海（이동해）Lee Dong-Hae</span><br />
	<span style="font-size: 15pt;">出生日期：1986年10月15日</span><br />
	<span style="font-size: 15pt;">身高：175cm</span><br />
	<span style="font-size: 15pt;">體重：58kg</span><br />
	<span style="font-size: 15pt;">血型：A型</span><br />
	<span style="font-size: 15pt;">隊中職務：副唱、領舞</span><br />
	<span style="font-size: 15pt;">學歷：明知大學電影表演系</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 15pt;">個人音樂作品：</span></strong></span><br />
	<span style="font-size: 15pt;">2009年〈Happy Bubble〉（與圭賢 、韓智敏合唱）</span><br />
	<span style="font-size: 15pt;">2012年〈Please Don&#39;t〉《熊貓小姐和刺蝟 OST》</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 10pt;">MV：</span></strong></span><br />
	<span style="font-size: 15pt;">2006年 BoA〈key of heart〉</span><br />
	<span style="font-size: 15pt;">2007年 少女時代〈Kissing You〉</span><br />
	<span style="font-size: 15pt;">2009年 林依晨〈螢火蟲〉</span><br />
	<span style="font-size: 15pt;">2009年 張力尹〈晴天, 雨天〉</span><br />
	<span style="font-size: 15pt;">2009年 東海、圭賢、韓智敏〈Happy Bubble〉</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 15pt;">電視劇：</span></strong><span style="color: rgb(255, 255, 255);"><span style="font-size: 10pt;">轉載自</span><span style="font-size: 10pt;">http://hanzhiyu.pixnet.net/blog</span></span></span><br />
	<span style="font-size: 15pt;">2010年 SBS《沒關係，爸爸的女兒》飾 崔旭基&nbsp;</span><br />
	<span style="font-size: 15pt;">2011年 八大綜合台《華麗的挑戰》飾 不破尚（不破松太郎）&nbsp;</span><br />
	<span style="font-size: 15pt;">2012年 Channel A《熊貓小姐和刺蝟》飾 高勝志<br />
	2014年 OCN《神的測驗4》飾演 韓時宇</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 15pt;">電影：</span></strong></span><br />
	<span style="font-size: 15pt;">2007年《花美男連鎖恐怖事件》飾演 李東海<br />
	2014年《傳聞》飾演 鄭宇</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 15pt;">主持：</span></strong></span><br />
	<span style="font-size: 15pt;">2011年 東風衛視「名人帶路」 主持人</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="font-size: 10pt;"><img alt="DongHae.jpg" border="0" src="https://pic.pimg.tw/hanzhiyu/1437199704-4085790048_m.jpg" style="border: 0px;" title="DongHae.jpg" /></span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	&nbsp;</p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	&nbsp;</p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	&nbsp;</p>
</body>
</html>
