<!doctype html>
{% load staticfiles %}
<html>
<head>
<title>10314146</title>
<meta charset=utf-8>
</head>
<body style="background-color:MistyRose;">
<h2><p><a href={% url 'wiki:成員' %}>回成員介紹</a><p></h2>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="font-size: 12pt; color: rgb(0, 0, 0);"><strong>銀赫</strong></span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<img alt="EunHyuk-2.jpg" border="0" src="https://pic.pimg.tw/hanzhiyu/1437199706-2691652340_n.jpg" style="border: 0px;" title="EunHyuk-2.jpg" /></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="font-size: 15pt;">藝名：Eun-Hyuk（은혁）</span><br />
	<span style="font-size: 15pt;">本名：李赫宰（이혁재）Lee Hyuk-Jae</span><br />
	<span style="font-size: 15pt;">出生日期：1986年4月4日</span><br />
	<span style="font-size: 15pt;">身高：174cm</span><br />
	<span style="font-size: 15pt;">體重：52kg</span><br />
	<span style="font-size: 15pt;">血型：O型</span><br />
	<span style="font-size: 15pt;">隊中職務：主領舞、主Rapper</span><br />
	<span style="font-size: 15pt;">學歷：百濟大學表演影視學院 表演電影專業</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 15pt;">音樂劇：</span></strong></span><br />
	<span style="font-size: 15pt;">2011年《Fame》飾演 Tyron Jackson</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="font-size: 15pt;"><span style="color: rgb(0, 0, 0);"><strong>MV：</strong></span><br />
	FIX 〈Please Don&#39;t Say(말하지마)〉</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 15pt;">主持：</span></strong></span><br />
	<span style="font-size: 15pt;">2006年~2011年 KBS Cool FM「KISS THE RADIO」 DJ（後由晟敏和厲旭接棒）</span><br />
	<span style="font-size: 15pt;">2008年 BC「偶像軍團 Idol Show」第一季 MC</span><br />
	<span style="font-size: 15pt;">2009年 SBS「強心臟」 固定班底</span><br />
	<span style="font-size: 15pt;">2010年 KBS「百分滿分」 固定班底</span><br />
	<span style="font-size: 15pt;">2010年 MBC「Super Junior的先見之明」 MC</span><br />
	<span style="font-size: 15pt;">2011年 東風衛視「名人帶路」 主持人</span><br />
	<span style="font-size: 15pt;">2012年 MBC《來玩吧》固定班底</span><br />
	<span style="font-size: 15pt;">2013年 SBS《赤腳的朋友們》固定班底</span><br />
	<span style="font-size: 15pt;">2013年《第10屆亞洲音樂節》主持人</span><br />
	<span style="font-size: 15pt;">2014年《第23屆首爾音樂獎》主持人</span><br />
	<span style="font-size: 15pt;">2014年《第20屆夢想演唱會》主持人</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="font-size: 10pt;"><img alt="EunHyuk.jpg" border="0" src="https://pic.pimg.tw/hanzhiyu/1437199705-2488125797_m.jpg" style="border: 0px;" title="EunHyuk.jpg" /></span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	&nbsp;</p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	&nbsp;</p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	&nbsp;</p>
</body>
</html>