<!doctype html>
{% load staticfiles %}
<html>
<head>
<title>10314146</title>
<meta charset=utf-8>
</head>
<body style="background-color:MistyRose;">
<h2><p><a href={% url 'wiki:成員' %}>回成員介紹</a><p></h2>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<img alt="HeeChul-2.jpg" border="0" src="https://pic.pimg.tw/hanzhiyu/1437199708-3619718260_n.jpg" style="border: 0px;" title="HeeChul-2.jpg" /></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="font-size: 15pt;">藝名：Hee-Chul（희철）</span><br />
	<span style="font-size: 15pt;">本名：金希澈（김희철）Kim Hee-Chul</span><br />
	<span style="font-size: 15pt;">暱稱：灰姑娘(仙度瑞拉)、希大人、公主、火星人、金起伏、宇宙大明星</span><br />
	<span style="font-size: 15pt;">出生日期：1983年7月10日</span><br />
	<span style="font-size: 15pt;">身高：179cm</span><br />
	<span style="font-size: 15pt;">體重：57kg</span><br />
	<span style="font-size: 15pt;">血型：AB型</span><br />
	<span style="font-size: 15pt;">隊中職務：副唱</span><br />
	<span style="font-size: 15pt;">學歷：韓國尚志大學計算機科學技術專業研究生</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 15pt;">個人音樂作品：</span></strong></span><br />
	<span style="font-size: 15pt;">2009年 初星 (金希澈SOLO　愛你千萬次OST)</span><br />
	<span style="font-size: 15pt;">2011年 離別真的如我 (與金長勳)</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 15pt;">電視劇：</span></strong></span><br />
	<span style="font-size: 15pt;">2005年 《玉琳的成長日記 2》 飾演 白真宇</span><br />
	<span style="font-size: 15pt;">2005年 MBC《男生女生向前走6/Non-Stop6》</span><br />
	<span style="font-size: 15pt;">2005年 《彩虹羅曼史》 飾演 金希澈</span><br />
	<span style="font-size: 15pt;">2006年 SBS《不良家族》飾演 孔旻</span><br />
	<span style="font-size: 15pt;">2007年 SBS《黃金新娘》 飾演 金英修</span><br />
	<span style="font-size: 15pt;">2009年《泰熙慧喬智賢》（客串）</span><br />
	<span style="font-size: 15pt;">2009年 SBS《愛你千萬次》 飾演 李哲</span><br />
	<span style="font-size: 15pt;">2010年 SBS《我是傳說》飾演 金希澈（客串）</span><br />
	<span style="font-size: 15pt;">2011年 CCTV《青春旋律》飾演 申泰一<br />
	2013年 SBS《欲戴王冠，必承其重－繼承者們》（第4集客串藝人）<br />
	2014年 tvN《花樣爺爺搜查隊》飾演 朴政宇</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 15pt;">電影：</span></strong><span style="color: rgb(255, 255, 255);"><span style="font-size: 10pt;">轉載自</span><span style="font-size: 10pt;">http://hanzhiyu.pixnet.net/blog</span></span></span><br />
	<span style="font-size: 15pt;">2007年《花美男連環恐怖事件》</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 15pt;">音樂劇：</span></strong></span><br />
	<span style="font-size: 15pt;">2008年《仙那度》飾演 sony</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 15pt;">MV：</span></strong></span><br />
	<span style="font-size: 15pt;">2007年 Magolpy〈飛行少女〉</span><br />
	<span style="font-size: 15pt;">2010年 TRAX〈內心冰冷的男人〉和f(x)的Victoria出演</span><br />
	<span style="font-size: 15pt;">2010年 Sistar〈Shady Girl〉</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="font-size: 15pt;"><img alt="HeeChul.jpg" border="0" src="https://pic.pimg.tw/hanzhiyu/1437199707-1361751145_m.jpg" style="border: 0px;" title="HeeChul.jpg" /></span></p>
