<!doctype html>
{% load staticfiles %}
<html>
<head>
<title>10314146</title>
<meta charset=utf-8>
</head>
<body style="background-color:MistyRose;">
<h2><p><a href={% url 'wiki:成員' %}>回成員介紹</a><p></h2>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="font-size: 12pt; color: rgb(0, 0, 0);"><strong>強仁</strong></span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<img alt="KangIn-2.jpg" border="0" src="https://pic.pimg.tw/hanzhiyu/1437199709-1819536054_n.jpg" style="border: 0px;" title="KangIn-2.jpg" /></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="font-size: 15pt;">藝名：Kang In（강인）</span><br />
	<span style="font-size: 15pt;">本名：金英雲（김영운）Kim Young Woon</span><br />
	<span style="font-size: 15pt;">出生日期：1985年1月17日</span><br />
	<span style="font-size: 15pt;">身高：180cm</span><br />
	<span style="font-size: 15pt;">體重：64kg</span><br />
	<span style="font-size: 15pt;">血型：O型</span><br />
	<span style="font-size: 15pt;">隊中職務：副唱</span><br />
	<span style="font-size: 15pt;">學歷：慶熙大學文化藝術經營系</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 15pt;">電影：</span></strong></span><br />
	<span style="font-size: 15pt;">2007年《花美男連鎖恐怖事件》飾演 柔道社社長</span><br />
	<span style="font-size: 15pt;">2008年《純情漫畫》飾演 康淑</span><br />
	<span style="font-size: 15pt;">2014年《貓的葬禮》飾演 東勛</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 15pt;">音樂劇：</span></strong></span><br />
	<span style="font-size: 15pt;">2008年《仙那度》韓國（飾演 Sonny）</span><br />
	<span style="font-size: 15pt;">2012年《宮》日本（飾演 李信王子）</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 15pt;">主持：</span></strong><span style="color: rgb(255, 255, 255);"><span style="font-size: 10pt;">轉載自</span><span style="font-size: 10pt;">http://hanzhiyu.pixnet.net/blog</span></span></span><br />
	<span style="font-size: 15pt;">2004年 SBS「一晚的TV演藝」擔任特派員</span><br />
	<span style="font-size: 15pt;">2005年 擔任「寶兒歌友會」主持人</span><br />
	<span style="font-size: 15pt;">2005年 擔任「東方神起Show Case」主持人</span><br />
	<span style="font-size: 15pt;">2005年 MBC「星期六」朴慶琳的約會嘉賓(主持人)</span><br />
	<span style="font-size: 15pt;">2005年 擔任 M.netKMTV 「M!Countdown」主持人</span><br />
	<span style="font-size: 15pt;">2006年 衛星DMB「強仁的天方地軸」電台DJ</span><br />
	<span style="font-size: 15pt;">2007年 擔任MBC廣播 FM4U「強仁、泰妍的好朋友」DJ</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 15pt;">綜藝節目：</span></strong></span><br />
	<span style="font-size: 15pt;">2008年 MBC「我們結婚了」，搭檔為李允芝</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 15pt;">廣告代言：</span></strong></span><br />
	<span style="font-size: 15pt;">2007年 「1677 Collectcal」廣告模特兒</span><br />
	<span style="font-size: 15pt;">2007年 HAITAI飲料「香吉士〝檸檬汁、柚子汁〞」廣告模特兒</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="font-size: 10pt;"><img alt="KangIn.jpg" border="0" src="https://pic.pimg.tw/hanzhiyu/1437199708-3375447801_m.jpg" style="border: 0px;" title="KangIn.jpg" /></span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="font-size: 10pt;">&nbsp;</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="font-size: 10pt;">&nbsp;</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	&nbsp;</p>
</body>
</html>