<!doctype html>
{% load staticfiles %}
<html>
<head>
<title>10314146</title>
<meta charset=utf-8>
</head>
<body style="background-color:MistyRose;">
<h2><p><a href={% url 'wiki:成員' %}>回成員介紹</a><p></h2>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="font-size: 17pt; color: rgb(255, 0, 0);"><strong>成員介紹：</strong></span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0); font-size: 17pt;"><strong>利特</strong></span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<img alt="LeeTeuk-2.jpg" border="0" src="https://pic.pimg.tw/hanzhiyu/1437199713-1744031690_n.jpg" style="border: 0px;" title="LeeTeuk-2.jpg" /></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="font-size: 15pt;">藝名：Lee-Teuk（이특）</span><br />
	<span style="font-size: 15pt;">本名：朴正洙（박정수）Park Jung-Soo</span><br />
	<span style="font-size: 15pt;">出生日期：1983年7月1日</span><br />
	<span style="font-size: 15pt;">身高：178cm</span><br />
	<span style="font-size: 15pt;">體重：59kg</span><br />
	<span style="font-size: 15pt;">血型：A型</span><br />
	<span style="font-size: 15pt;">隊中職務：隊長、副唱</span><br />
	<span style="font-size: 15pt;">學歷：仁荷大學放送演藝學科</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 15pt;">電視劇：</span></strong></span><br />
	<span style="font-size: 15pt;">2000年 MBC<span style="font-size: 13.3333px;">《</span>愛上女主播 客串</span><br />
	<span style="font-size: 15pt;">2006年 MBC《彩虹羅曼史》<br />
	2011年 MBC<span style="font-size: 13.3333px;">《</span>全部我的愛<span style="font-size: 13.3333px;">》</span>144集 客串</span><br />
	<span style="font-size: 15pt;">2011年 MBC<span style="font-size: 13.3333px;">《</span>我家的女人們<span style="font-size: 13.3333px;">》</span></span><br />
	<span style="font-size: 15pt;">2012年 SBS<span style="font-size: 13.3333px;">《</span>蠑螈道士與幕後操縱團<span style="font-size: 13.3333px;">》第</span>4集 客串演出節目錄影主持人<br />
	2015年 Mnet《七顛八起具海拉》客串 人氣Show Camp主持人</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="font-size: 15pt;"><strong><span style="font-size: 15pt;">電影：</span></strong><br />
	<span style="font-size: 15pt;">2007年《花美男連環恐怖襲擊事件》 飾演 熊貓</span></span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="font-size: 15pt;"><span style="color: rgb(0, 0, 0);"><strong>音樂劇：</strong></span><br />
	2013年《The Promise》飾演 金德丘二等兵</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 15pt;">主持：</span></strong><span style="color: rgb(255, 255, 255);"><span style="font-size: 10pt;">轉載自</span><span style="font-size: 10pt;">http://hanzhiyu.pixnet.net/blog</span></span></span><br />
	<span style="font-size: 15pt;">2005年 M.netKMTV<span style="font-size: 13.3333px;">《</span>M!Countdown<span style="font-size: 13.3333px;">》</span></span><br />
	<span style="font-size: 15pt;">2006年 M.netKMTV<span style="font-size: 13.3333px;">《</span>Hello Chat<span style="font-size: 13.3333px;">》</span></span><br />
	<span style="font-size: 15pt;">2007年 M.netKMTV<span style="font-size: 13.3333px;">《</span>利特的LOVE FIGHTER<span style="font-size: 13.3333px;">》</span></span><br />
	<span style="font-size: 15pt;">2007年 SBS<span style="font-size: 13.3333px;">《</span>人體探驗隊<span style="font-size: 13.3333px;">》</span></span><br />
	<span style="font-size: 15pt;">2008年 M.netKMTV<span style="font-size: 13.3333px;">《</span>YOU CAN FLY<span style="font-size: 13.3333px;">》</span></span><br />
	<span style="font-size: 15pt;">2008年 MBC<span style="font-size: 13.3333px;">《</span>MBC every1偶像軍團紅了!她<span style="font-size: 13.3333px;">》</span></span><br />
	<span style="font-size: 15pt;">2008年 KBS中秋特輯<span style="font-size: 13.3333px;">《</span>尋找一流至尊達人<span style="font-size: 13.3333px;">》</span></span><br />
	<span style="font-size: 15pt;">2008年 M.net KMTV<span style="font-size: 13.3333px;">《</span>童貞男戀愛吧<span style="font-size: 13.3333px;">》</span></span><br />
	<span style="font-size: 15pt;">2008年 SBS<span style="font-size: 13.3333px;">《</span>人氣歌謠<span style="font-size: 13.3333px;">》</span></span><br />
	<span style="font-size: 15pt;">2010年 MBC<span style="font-size: 13.3333px;">《</span>愛情追擊者<span style="font-size: 13.3333px;">》</span>（和藝聲共同主持）</span><br />
	<span style="font-size: 15pt;">2010年 MBC Every 1<span style="font-size: 13.3333px;">《</span>Super Junior的先見之明<span style="font-size: 13.3333px;">》</span></span><br />
	<span style="font-size: 15pt;">2011年 tvN<span style="font-size: 13.3333px;">《</span>5000萬的大提問<span style="font-size: 13.3333px;">》</span></span><br />
	<span style="font-size: 15pt;">2011年 SBS<span style="font-size: 13.3333px;">《</span>Starking<span style="font-size: 13.3333px;">》</span></span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 10pt;">綜藝節目：</span></strong></span><br />
	<span style="font-size: 15pt;">2005年 M.net KMTV<span style="font-size: 13.3333px;">《</span>&nbsp;Super Junior show<span style="font-size: 13.3333px;">》</span></span><br />
	<span style="font-size: 15pt;">2006年 M.net KMTV&nbsp;<span style="font-size: 13.3333px;">《</span>神秘追跡6<span style="font-size: 13.3333px;">》</span></span><br />
	<span style="font-size: 15pt;">2006年 SBS&nbsp;<span style="font-size: 13.3333px;">《</span>Super Junior的FULLHOUSE<span style="font-size: 13.3333px;">》</span></span><br />
	<span style="font-size: 15pt;">2006年 M.netKMTV<span style="font-size: 13.3333px;">《</span>美少年宿舍大騷動<span style="font-size: 13.3333px;">》</span></span><br />
	<span style="font-size: 15pt;">2006年 M.netKMTV<span style="font-size: 13.3333px;">《</span>Super Junior自製劇<span style="font-size: 13.3333px;">《</span></span><br />
	<span style="font-size: 15pt;">2007年 M.netKMTV<span style="font-size: 13.3333px;">《</span>Super Junior-T Idol World<span style="font-size: 13.3333px;">》</span></span><br />
	<span style="font-size: 15pt;">2007年 SBS《人體探驗隊》</span><br />
	<span style="font-size: 15pt;">2008年 MBC<span style="font-size: 13.3333px;">《</span>不得了的外出<span style="font-size: 13.3333px;">》</span>第三季</span><br />
	<span style="font-size: 15pt;">2008年 MBC&nbsp;Sponge短劇<span style="font-size: 13.3333px;">《</span>不得了的故事<span style="font-size: 13.3333px;">》</span></span><br />
	<span style="font-size: 15pt;">2008年 MBC<span style="font-size: 13.3333px;">《</span>MBC every1偶像軍團紅了!她<span style="font-size: 13.3333px;">《</span></span><br />
	<span style="font-size: 15pt;">2009年 SBS<span style="font-size: 13.3333px;">《</span>強心臟<span style="font-size: 13.3333px;">》</span>&nbsp;固定班底</span><br />
	<span style="font-size: 15pt;">2010年 MBC<span style="font-size: 13.3333px;">《</span>Super Junior的先見之明<span style="font-size: 13.3333px;">《</span>MC</span><br />
	<span style="font-size: 15pt;">2011年 MBC<span style="font-size: 13.3333px;">《</span>享受今天</span><br />
	<span style="font-size: 15pt;">2011年 KBS<span style="font-size: 13.3333px;">《</span>Hello Baby Season 4</span><br />
	<span style="font-size: 15pt;">2011年 MBC<span style="font-size: 13.3333px;">《</span>我們結婚了<span style="font-size: 13.3333px;">《</span>&nbsp;(與女演員姜素拉)</span><br />
	<span style="font-size: 15pt;">2011年 SBS<span style="font-size: 13.3333px;">《</span>Star King<span style="font-size: 13.3333px;">》</span>MC</span></p>
</body>
</html>
