<!doctype html>
{% load staticfiles %}
<html>
<head>
<title>10314146</title>
<meta charset=utf-8>
</head>
<body>
<h1>歷年專輯介紹</h1>
<h2><p><a href={% url 'wiki:歷年專輯介紹' %}>回歷年專輯介紹</a><p></h2>
<p style="margin: 0px 0px 1em; padding: 0px; color: rgb(68, 68, 68); font-family: Verdana; letter-spacing: 1.5px; line-height: 18px; background-color: rgb(255, 255, 255);">
	<strong><span style="font-family: 標楷體; font-size: 24pt; color: rgb(153, 204, 0);">Super Junior 七輯 -</span><span style="color: rgb(153, 204, 0);"><span style="font-size: 24pt;">MAMACITA</span></span></strong></p>
<p style="margin: 0px 0px 1em; padding: 0px; color: rgb(68, 68, 68); font-family: Verdana; letter-spacing: 1.5px; line-height: 18px; background-color: rgb(255, 255, 255);">
	<img alt="0829_superjunior" border="0" src="http://pic.pimg.tw/seri/1426339301-1884450120.jpg" style="border: 0px;" title="0829_superjunior" />&nbsp;&nbsp;</p>
<p style="margin: 0px 0px 1em; padding: 0px; color: rgb(68, 68, 68); font-family: Verdana; letter-spacing: 1.5px; line-height: 18px; background-color: rgb(255, 255, 255);">
	&nbsp;</p>
<p>全球韓流帝王的回歸！ <br>
SUPER JUNIOR第七張正規專輯『MAMACITA』發行！<br>
SUPER JUNIOR發行了第七張正規專輯『MAMACITA』，華麗地回歸。<br>
這次的專輯是繼2012年7月發行的『Sexy, Free & Single』後， 相隔約兩年的時間帶來的SUPER JUNIOR的新專輯，<br>
網羅了Yoo Young Jin、Don Spike、Teddy Riley、hitchhiker等在韓國和海外的暢銷創作者參與其中，使專輯的完成度提高，專輯內收錄了多樣曲風的共10首歌曲，期待全球樂迷們極高的關注。<br>
尤其，SUPER JUNIOR發行的每張專輯都席捲了國內外各大音樂排行榜，並在2009年、2011年、2012年三度榮獲了“金唱片”唱片部分的大賞，榮登為“唱片王”，<br>
2011年～2012年獲頒了年打各大音樂頒獎典禮的‘大賞’等等，不僅有著耀眼的成就，<br>
同時以SUPER JUNIOR-M、SUPER JUNIOR東海&銀赫等的子團以及團員各自的活動呈現了全方位藝人團體的面貌，因此這次專輯的宣傳活動也引人注目。<br>
SUPER JUNIOR不一樣的變身！主打歌《MAMACITA(哎呀呀)》<br>
這次的主打歌曲《MAMACITA(哎呀呀)》是以印度手鼓的旋律為基底的鼓聲與會聯想起DJ混音的鋼琴旋律令人印象深刻的urban new jack swing曲風的歌曲，<br>
由世界級的製作人Teddy Riley與韓國的暢銷作曲者Yoo Young Jin合作使歌曲的完成度倍增。 <br>
歌詞的內容是，對於世界上很多的問題與傷痛訴求可以分享心意與感同身受，再加上SUPER JUNIOR充滿力道的舞台表演，會再一次虜獲樂迷們的心。<br>
另外，由團員東海寫詞和譜曲的《Shirt》是有著拉丁感覺的手鼓聲音很令人印象深刻的歌曲，以幽默逗趣的方式描述了當男人穿上襯衫時散發的男人味；<br>
感性和音的retro R&B抒情歌曲《Islands》不僅是描述了SUPER JUNIOR團員之間的友情，也把與歌迷們的友情比喻成為‘連結島與島的橋’，這樣的歌詞又增添了歌曲的獨特性等等，<br>
除此之外，專輯內共收錄了多樣曲風的10首歌曲在其中，想必會引起全球樂迷們的熱烈反應。</p>
<p style="margin: 0px 0px 1em; padding: 0px; color: rgb(68, 68, 68); font-family: Verdana; letter-spacing: 1.5px; line-height: 18px; background-color: rgb(255, 255, 255);">
	<span style="font-size: 14pt;"><strong><span style="font-family: 標楷體;"><span style="color: rgb(255, 0, 255);">【發行日期】</span>：<span style="font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 15px; background-color: rgb(253, 253, 253);">2014-08-29</span></span></strong></span></p>
<p style="margin: 0px 0px 1em; padding: 0px; color: rgb(68, 68, 68); font-family: Verdana; letter-spacing: 1.5px; line-height: 18px; background-color: rgb(255, 255, 255);">
	&nbsp;</p>
<p style="margin: 0px 0px 1em; padding: 0px; color: rgb(68, 68, 68); font-family: Verdana; letter-spacing: 1.5px; line-height: 18px; background-color: rgb(255, 255, 255);">
	<span style="font-size: 14pt;"><strong><span style="font-family: 標楷體;"><span style="color: rgb(255, 0, 255);">【專輯曲目】</span>：</span></strong></span></p>
<p style="margin: 0px 0px 1em; padding: 0px; color: rgb(68, 68, 68); font-family: Verdana; letter-spacing: 1.5px; line-height: 18px; background-color: rgb(255, 255, 255);">
	<span style="font-size: 14pt;"><strong><span style="font-family: 標楷體;"><span style="font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 15px; background-color: rgb(253, 253, 253);">01. MAMACITA (아야야)</span><br style="letter-spacing: 0px; word-wrap: break-word; font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 15px; background-color: rgb(253, 253, 253);" />
	<span style="font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 15px; background-color: rgb(253, 253, 253);">02. 춤을 춘다 (Midnight Blues)</span><br style="letter-spacing: 0px; word-wrap: break-word; font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 15px; background-color: rgb(253, 253, 253);" />
	<span style="font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 15px; background-color: rgb(253, 253, 253);">03. 백일몽 (Evanesce)</span><br style="letter-spacing: 0px; word-wrap: break-word; font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 15px; background-color: rgb(253, 253, 253);" />
	<span style="font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 15px; background-color: rgb(253, 253, 253);">04. 사랑이 멎지 않게 (Raining Spell for Love)</span><br style="letter-spacing: 0px; word-wrap: break-word; font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 15px; background-color: rgb(253, 253, 253);" />
	<span style="font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 15px; background-color: rgb(253, 253, 253);">05. Shirt</span><br style="letter-spacing: 0px; word-wrap: break-word; font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 15px; background-color: rgb(253, 253, 253);" />
	<span style="font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 15px; background-color: rgb(253, 253, 253);">06. THIS IS LOVE</span><br style="letter-spacing: 0px; word-wrap: break-word; font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 15px; background-color: rgb(253, 253, 253);" />
	<span style="font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 15px; background-color: rgb(253, 253, 253);">07. Let&rsquo;s Dance</span><br style="letter-spacing: 0px; word-wrap: break-word; font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 15px; background-color: rgb(253, 253, 253);" />
	<span style="font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 15px; background-color: rgb(253, 253, 253);">08. Too Many Beautiful Girls</span><br style="letter-spacing: 0px; word-wrap: break-word; font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 15px; background-color: rgb(253, 253, 253);" />
	<span style="font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 15px; background-color: rgb(253, 253, 253);">09. 환절기 (Mid-season)</span><br style="letter-spacing: 0px; word-wrap: break-word; font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 15px; background-color: rgb(253, 253, 253);" />
	<span style="font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 15px; background-color: rgb(253, 253, 253);">10. Islands</span></span></strong></span></p>
</body>
</html>