<!doctype html>
{% load staticfiles %}
<html>
<head>
<title>10314146</title>
<meta charset=utf-8>
</head>
<body style="background-color:MistyRose;">
<h2><p><a href={% url 'wiki:成員' %}>回成員介紹</a><p></h2>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="font-size: 12pt; color: rgb(0, 0, 0);"><strong>厲旭</strong></span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<img alt="RyeWook-2.jpg" border="0" src="https://pic.pimg.tw/hanzhiyu/1437199715-3864426382_n.jpg" style="border: 0px;" title="RyeWook-2.jpg" /></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="font-size: 15pt;">藝名：Ryeo-Wook（려욱）</span><br />
	<span style="font-size: 15pt;">本名：金厲旭（김려욱）Kim Ryeo-Wook</span><br />
	<span style="font-size: 15pt;">出生日期：1987年06月21日</span><br />
	<span style="font-size: 15pt;">身高：173cm</span><br />
	<span style="font-size: 15pt;">體重：56kg</span><br />
	<span style="font-size: 15pt;">血型：O型</span><br />
	<span style="font-size: 15pt;">隊中職務：主唱</span><br />
	<span style="font-size: 15pt;">學歷：仁荷大學戲劇電影學學士</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 15pt;">個人音樂作品：</span></strong><span style="color: rgb(255, 255, 255);"><span style="font-size: 10pt;">轉載自</span><span style="font-size: 10pt;">http://hanzhiyu.pixnet.net/blog</span></span></span><br />
	<span style="font-size: 15pt;">Super Junior K.R.Y - 〈夢想的Hero〉</span><br />
	<span style="font-size: 15pt;">一日密語OST - 〈Angel〉</span><br />
	<span style="font-size: 15pt;">2006年〈只為一個人〉(Super Junior - K.R.Y.)</span><br />
	<span style="font-size: 15pt;">2006年《雪花 눈꽃OST》 - Super Junior K.R.Y - 〈停下腳步〉</span><br />
	<span style="font-size: 15pt;">2010年 厲旭&amp;Beige - 〈與朋友墜入情網〉</span><br />
	<span style="font-size: 15pt;">2010年 甜蜜我家OST - 〈Smile Again〉</span><br />
	<span style="font-size: 15pt;">2010年 總統OST - Super Junior 圭賢 晟敏 厲旭 - 〈緊咬嘴唇〉</span><br />
	<span style="font-size: 15pt;">2010年 沒關係爸爸的女兒OST - 東海 厲旭 - 〈像現在一樣〉</span><br />
	<span style="font-size: 15pt;">2011年 間諜明月OST - 〈如果更愛的話〉</span><br />
	<span style="font-size: 15pt;">2012年 致美麗的你OST - SUPER JUNIOR K.R.Y - 〈SKY〉</span><br />
	<span style="font-size: 15pt;">2012年 熊貓小姐和刺蝟OST - SUPER JUNIOR K.R.Y - 〈LOVING YOU〉<br />
	2013年 音樂劇《High School Musical》OST 新的開始 (Start Of Something New) 厲旭、luna（f(x)）<br />
	2013年 電視劇《女王的教室》OST Maybe Tomorrow 厲旭</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 15pt;">音樂劇：</span></strong></span><br />
	<span style="font-size: 15pt;">2011年《狼的誘惑》男主角<br />
	2013年《High School Musical (歌舞青春)》男主角 (飾演Troy)<br />
	2014年《女神在看》男主角 (飾演劉順浩)</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 15pt;">主持：</span></strong></span><br />
	<span style="font-size: 10pt;">2011-12年：KBS FM「KISS THE RADIO」 DJ（與晟敏）</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="font-size: 15pt;"><img alt="RyeWook.jpg" border="0" src="https://pic.pimg.tw/hanzhiyu/1437199714-3920692755_m.jpg" style="border: 0px;" title="RyeWook.jpg" /></span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="font-size: 15pt;">&nbsp;</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	&nbsp;</p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	&nbsp;</p>
</body>
</html>
