<!doctype html>
{% load staticfiles %}
<html>
<head>
<title>10314146</title>
<meta charset=utf-8>
</head>
<body style="background-color:MistyRose;">
<h2><p><a href={% url 'wiki:成員' %}>回成員介紹</a><p></h2>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="font-size: 12pt; color: rgb(0, 0, 0);"><strong>神童</strong></span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<img alt="Shindong.jpg" border="0" src="http://pic.pimg.tw/hanzhiyu/1409654067-3076856276_n.jpg" style="border: 0px;" title="Shindong.jpg" /></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="font-size: 15pt;">藝名：Shin-Dong（신동）</span><br />
	<span style="font-size: 15pt;">本名：申東熙（신동희）Shin Dong-Hee</span><br />
	<span style="font-size: 15pt;">出生日期：1985年9月28日</span><br />
	<span style="font-size: 15pt;">身高：178cm</span><br />
	<span style="font-size: 15pt;">體重：85kg</span><br />
	<span style="font-size: 15pt;">血型：O型</span><br />
	<span style="font-size: 15pt;">隊中職務：領舞、Rapper</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 15pt;">電視劇：</span></strong></span><br />
	<span style="font-size: 15pt;">2008年 KBS《單身爸爸戀愛中》</span><br />
	<span style="font-size: 15pt;">2010年 SBS《醫生冠軍》</span><br />
	<span style="font-size: 15pt;">2011年 MBS《全部我的愛》第43、\44集客串</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 15pt;">主持：</span></strong><span style="color: rgb(255, 255, 255);"><span style="font-size: 10pt;">轉載自</span><span style="font-size: 10pt;">http://hanzhiyu.pixnet.net/blog</span></span></span><br />
	<span style="font-size: 15pt;">2005年 「KMTV Show! Music Tank」主持人</span><br />
	<span style="font-size: 15pt;">2005年 「東方神起『Sweet Rose Party』」主持人</span><br />
	<span style="font-size: 15pt;">2005年 「M.netKMTV M!Countdown」主持人</span><br />
	<span style="font-size: 15pt;">2007年 MBC「親親親 小朋友萬歲」主持人</span><br />
	<span style="font-size: 15pt;">2007年 M.net「DJ 綠蘋果Sound」主持人</span><br />
	<span style="font-size: 15pt;">2007年-現在 MBC「深深打破」主持人</span><br />
	<span style="font-size: 15pt;">2009年 MBC 「唯獨今晚哄我入睡」</span><br />
	<span style="font-size: 15pt;">2010年 MBC「Super Junior的先見之明」MC</span><br />
	<span style="font-size: 15pt;">2012年 M.net「Beatles Code 2」主持人</span><br />
	<span style="font-size: 15pt;">2012年 MBC「偉大的誕生2」幕後故事&quot;Happy Ending&quot; 主持人</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 15pt;">綜藝節目：</span></strong></span><br />
	<span style="font-size: 15pt;">2007年 MBC「黃金魚場」固定班底</span><br />
	<span style="font-size: 15pt;">2008年 M-net「 容兄東弟」</span><br />
	<span style="font-size: 15pt;">2010 SBS「強心臟」</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="font-size: 10pt;">&nbsp;</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	&nbsp;</p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	&nbsp;</p>
</body>
</html>