<!doctype html>
{% load staticfiles %}
<html>
<head>
<title>10314146</title>
<meta charset=utf-8>
</head>
<body style="background-color:MistyRose;">
<h2><p><a href={% url 'wiki:成員' %}>回成員介紹</a><p></h2>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 12pt;">始源</span></strong></span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<img alt="SiWon-2.jpg" border="0" src="https://pic.pimg.tw/hanzhiyu/1437199717-247502817_n.jpg" style="border: 0px;" title="SiWon-2.jpg" /></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="font-size: 15pt;">藝名：Si-Won|（시원）</span><br />
	<span style="font-size: 15pt;">本名：崔始源（최시원）Choi Si-Won</span><br />
	<span style="font-size: 15pt;">出生日期：1986年4月7日</span><br />
	<span style="font-size: 15pt;">身高：183cm</span><br />
	<span style="font-size: 15pt;">體重：63kg</span><br />
	<span style="font-size: 15pt;">血型：B型</span><br />
	<span style="font-size: 15pt;">隊中職務：副唱、形象擔當</span><br />
	<span style="font-size: 15pt;">學歷：仁荷大學藝術體育學學士</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 15pt;">MV：</span></strong></span><br />
	<span style="font-size: 15pt;">2003年《What is Love》 &ndash; DANA</span><br />
	<span style="font-size: 15pt;">2006年《Timeless》 &ndash; 張力尹 (Feat. 東方神起的細亞俊秀)</span><br />
	<span style="font-size: 15pt;">2008年《星願》 &ndash; 張力尹</span><br />
	<span style="font-size: 15pt;">2008年《幸福的左岸》 &ndash; 張力尹</span><br />
	<span style="font-size: 15pt;">2009年《螢火蟲》 &ndash; 林依晨</span><br />
	<span style="font-size: 15pt;">2010年《훗(Hoot)》 &ndash; 少女時代</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 15pt;">電視劇：</span></strong><span style="color: rgb(255, 255, 255);"><span style="font-size: 10pt;">轉載自</span><span style="font-size: 10pt;">http://hanzhiyu.pixnet.net/blog</span></span></span><br />
	<span style="font-size: 15pt;">2004年 KBS《父母見上書》</span><br />
	<span style="font-size: 15pt;">2005年 KBS《18．29》客串 18歲的江尚永&nbsp;</span><br />
	<span style="font-size: 15pt;">2006年 KBS《Charnel Boy》</span><br />
	<span style="font-size: 15pt;">2006年 KBS《春天華爾茲》飾 Park Sang Woo</span><br />
	<span style="font-size: 15pt;">2007年 MBC《香丹傳》飾 Lee Mongryong</span><br />
	<span style="font-size: 15pt;">2009年 CCTV《青春舞台》飾 始源 客串</span><br />
	<span style="font-size: 15pt;">2010年 SBS《Oh My Lady》飾 成敏宇</span><br />
	<span style="font-size: 15pt;">2010年 SBS《雅典娜：戰爭女神》飾 金俊浩</span><br />
	<span style="font-size: 15pt;">2011年 八大綜合台《華麗的挑戰》飾 敦賀蓮</span><br />
	<span style="font-size: 15pt;">2011年 KBS《波塞冬》飾 金善宇</span><br />
	<span style="font-size: 15pt;">2012年 SBS《電視劇帝王》<br />
	2015年 CCTV-8《轉身說愛你》飾演 宋晨曦</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 15pt;">電影：</span></strong><br />
	<span style="font-size: 15pt;"><span style="font-size: 13px;">2006年《墨攻》飾 梁適</span></span></span><br />
	<span style="font-size: 15pt;">2007年《花美男連鎖恐怖事件》飾 崔始源<br />
	2015年《天將雄師》飾演 殷破<br />
	2015年《赤道》飾演 朴宇哲<br />
	2015年《破風》飾演 鄭知元</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="font-size: 10pt;"><img alt="SiWon.jpg" border="0" src="https://pic.pimg.tw/hanzhiyu/1437199716-2440755570_m.jpg" style="border: 0px;" title="SiWon.jpg" /></span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	&nbsp;</p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	&nbsp;</p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	&nbsp;</p>
</body>
</html>