<!doctype html>
{% load staticfiles %}
<html>
<head>
<title>10314146</title>
<meta charset=utf-8>
</head>
<body style="background-color:MistyRose;">
<h1>歷年專輯介紹</h1>
<h2><p><a href={% url 'wiki:歷年專輯介紹' %}>回歷年專輯介紹</a><p></h2>
<p style="margin: 0px 0px 1em; padding: 0px; color: rgb(68, 68, 68); font-family: Verdana; letter-spacing: 1.5px; line-height: 18px; background-color: rgb(255, 255, 255);">
	<span style="font-family: 標楷體; color: rgb(153, 204, 0); font-size: 24pt;"><strong>第三張正規專輯《Sorry, Sorry》</strong></span></p>
<p style="margin: 0px 0px 1em; padding: 0px; color: rgb(68, 68, 68); font-family: Verdana; letter-spacing: 1.5px; line-height: 18px; background-color: rgb(255, 255, 255);">
	<br style="letter-spacing: 0px;" />
	<span style="font-family: 標楷體; color: rgb(0, 0, 0); font-size: 24pt;"><strong>發行日期：2009年3月12日</strong></span></p>
<p style="margin: 0px 0px 1em; padding: 0px; color: rgb(68, 68, 68); font-family: Verdana; letter-spacing: 1.5px; line-height: 18px; background-color: rgb(255, 255, 255);">
	<span style="font-family: 標楷體; color: rgb(153, 204, 0); font-size: 24pt;"><img alt="" src="http://musicimg.cyworld.com/ALBUM/015/059/15059157.jpg" style="border: 0px;" /></span></p>
<p>亞洲超級巨星superjunior(S.M. ENTERTAINMENT所屬)的正規3輯“SORRY, SORRY”將於3月12日起正式發售。<br>
這張專輯是自2輯活動以後以亞洲作為舞臺開展各種活動的superjunior時隔1年半後推出的全新專輯，它已倍受來自韓國、泰國、中國、日本等亞洲歌迷們的熱烈關注。<br>
專輯中收錄有包括主打歌“SORRY, SORRY”在內以及舞曲、流行抒情曲、R&B等多種類型的共12首曲目，通過這些歌曲可以領略superjunior變得更為成熟且時尚的音樂世界。<br>
尤其是劉英真、Kenzie、Jaemyung Lee、Changhyun Park等曾經和superjunior成功合作過的著名作曲家及FANY、Youngsuk Yoo等歌壇前輩也都為superjunior作詞作曲並共同參與制作，由此製作出這張更加多彩且完成度極高的專輯。</p>
<p style="margin: 0px 0px 1em; padding: 0px; color: rgb(68, 68, 68); font-family: Verdana; letter-spacing: 1.5px; line-height: 18px; background-color: rgb(255, 255, 255);">
	<span style="color: rgb(0, 0, 0); font-size: 14pt;"><strong>1.Sorry, Sorry</strong><br style="letter-spacing: 0px;" />
	<strong>2.니가 좋은 이유 (Why I like you)</strong><br style="letter-spacing: 0px;" />
	<strong>3.마주치지 말자 (Let&#39;s not...)</strong><br style="letter-spacing: 0px;" />
	<strong>4.앤젤라 (Angela)</strong><br style="letter-spacing: 0px;" />
	<strong>5.Reset</strong><br style="letter-spacing: 0px;" />
	<strong>6.Monster</strong><br style="letter-spacing: 0px;" />
	<strong>7.What if</strong><br style="letter-spacing: 0px;" />
	<strong>8.이별... 넌 쉽니 (Heartquake) (feat.東方神起-允浩、有天)</strong><br style="letter-spacing: 0px;" />
	<strong>9.Club No.1(feat.李沇熹)</strong><br style="letter-spacing: 0px;" />
	<strong>10.Happy Together</strong><br style="letter-spacing: 0px;" />
	<strong>11.죽어있는 것 (Dead at heart)</strong><br style="letter-spacing: 0px;" />
	<strong>12.Shining Star</strong><br style="letter-spacing: 0px;" />
	<strong>還有C版增加</strong><br style="letter-spacing: 0px;" />
	<strong>1.그녀는 위험해 (She Wants It)</strong><br style="letter-spacing: 0px;" />
	<strong>2.너라고 (It&#39;s You)</strong><br style="letter-spacing: 0px;" />
	<strong>3.사랑이 죽는 병 (Love Disease)</strong><br style="letter-spacing: 0px;" />
	<strong>4.첫번째 이야기 (Love U More)</strong></span></p>
</body>
</html>