<!doctype html>
{% load staticfiles %}
<html>
<head>
<title>10314146</title>
<meta charset=utf-8>
</head>
<body style="background-color:MistyRose;">
<h2><p><a href={% url 'wiki:成員' %}>回成員介紹</a><p></h2>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="font-size: 12pt; color: rgb(0, 0, 0);"><strong>晟敏</strong></span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<img alt="Sungmin.jpg" border="0" src="http://pic.pimg.tw/hanzhiyu/1409654073-2301296573_n.jpg" style="border: 0px;" title="Sungmin.jpg" /></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="font-size: 15pt;">藝名：Sung-Min（성민）</span><br />
	<span style="font-size: 15pt;">本名：李晟敏（이성민）Lee Sung-Min</span><br />
	<span style="font-size: 15pt;">出生日期：1986年1月1日</span><br />
	<span style="font-size: 15pt;">身高：175cm</span><br />
	<span style="font-size: 15pt;">體重：57kg</span><br />
	<span style="font-size: 15pt;">血型：A型</span><br />
	<span style="font-size: 15pt;">隊中職務：副唱</span><br />
	<span style="font-size: 15pt;">學歷：明知大學放送演藝系</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 15pt;">個人音樂作品：</span></strong></span><br />
	<span style="font-size: 15pt;">2005年《Show Me Your Love》（與東方神起合作）</span><br />
	<span style="font-size: 15pt;">2008年〈現在去見你〉《尚根的願望 OST》（與藝聲共同演唱）</span><br />
	<span style="font-size: 15pt;">2009年《Akilla OST》I Akilla You, The Song of the AKILLA, You&#39;ve Got A Friend, Love Song(Ver.1),Good-bye My Friend, After Tonight</span><br />
	<span style="font-size: 15pt;">2010年〈咬住嘴唇〉《總統 OST Part1》（與厲旭、圭賢共同演唱）</span><br />
	<span style="font-size: 15pt;">2012年〈OH WA〉《需要仙女（I Need A Fairy）OST Part2》</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 15pt;">音樂劇：</span></strong></span><br />
	<span style="font-size: 15pt;">2009年《Akilla》</span><br />
	<span style="font-size: 15pt;">2010年《洪吉童》（與藝聲同為主角）</span><br />
	<span style="font-size: 15pt;">2011年《Jack the Ripper》</span><br />
	<span style="font-size: 15pt;">2012年《Jack the Ripper》日本東京（飾演 Daniel）</span><br />
	<span style="font-size: 15pt;">2013年-2014年《夏之雪》日本大阪，日本東京，台灣（飾演 筱田夏生）</span><br />
	<span style="font-size: 15pt;">2013年《Jack the Ripper》日本橫濱（飾演 Daniel）</span><br />
	<span style="font-size: 15pt;">2013年-2014年《三劍客》韓國首爾（飾演 達達尼昂）</span><br />
	<span style="font-size: 15pt;">2014年《吸血鬼》日本東京（飾演 德古拉）</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 10pt;">主持：</span></strong></span><br />
	<span style="font-size: 10pt;">2007年 衛星DMB「天方地軸」 DJ（與少女時代成員秀英和Sunny共同主持）</span><br />
	<span style="font-size: 10pt;">2009年 MBC「OPPA BAND」 主持人</span><br />
	<span style="font-size: 10pt;">2011年 東風衛視「名人帶路」 主持人</span><br />
	<span style="font-size: 10pt;">2011年 KBS Cool FM「Kiss the Radio」 DJ（與厲旭共同主持）<br />
	2013年「第7屆大邱國際音樂劇節 (Daegu International Musical Festival)」主持人</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 15pt;">電視劇：</span></strong></span><br />
	<span style="font-size: 15pt;">2005年 MBC《姊妹之海》飾演東申</span><br />
	<span style="font-size: 15pt;">2005年 KBS《靈骨塔少年》</span><br />
	<span style="font-size: 15pt;">2006年 《尋找遺失的時間》（客串）</span><br />
	<span style="font-size: 15pt;">2010年 KBS《總統》飾演張晟敏</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	&nbsp;</p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	&nbsp;</p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	&nbsp;</p>
</body>
</html>