<!doctype html>
{% load staticfiles %}
<html>
<head>
<title>10314146</title>
<meta charset=utf-8>
</head>
<body style="background-color:MistyRose;">
<h2><p><a href={% url 'wiki:成員' %}>回成員介紹</a><p></h2>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="font-size: 12pt; color: rgb(0, 0, 0);"><strong>藝聲</strong></span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<img alt="YeSeung-2.jpg" border="0" src="https://pic.pimg.tw/hanzhiyu/1437199719-3682544414_n.jpg" style="border: 0px;" title="YeSeung-2.jpg" /></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="font-size: 15pt;">藝名：Ye-Sung（예성）</span><br />
	<span style="font-size: 15pt;">本名：金鐘雲（김종운）Kim Jong-Woon</span><br />
	<span style="font-size: 15pt;">出生日期：1984年8月24日</span><br />
	<span style="font-size: 15pt;">身高：178cm</span><br />
	<span style="font-size: 15pt;">體重：58kg</span><br />
	<span style="font-size: 15pt;">血型：AB型</span><br />
	<span style="font-size: 15pt;">隊中職務：領唱</span><br />
	<span style="font-size: 15pt;">學歷：法蘭特斯南方鎮大學會計系</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 10pt;">個人音樂作品：</span></strong><span style="color: rgb(255, 255, 255);"><span style="font-size: 10pt;">轉載自</span><span style="font-size: 10pt;">http://hanzhiyu.pixnet.net/blog</span></span></span><br />
	<span style="font-size: 15pt;">2008年〈愛情真的很痛 사랑 참 아프다〉《老千타짜 OST》</span><br />
	<span style="font-size: 15pt;">2008年〈現在去見你 지금 만나러 가요〉《尚根的願望상근이의소망 OST》 （與Super Junior晟敏合唱）</span><br />
	<span style="font-size: 15pt;">2009年〈北門的陷阱 북문의 덫〉《南漢山城남한산성 OST》&nbsp;</span><br />
	<span style="font-size: 15pt;">2010年〈非你不可 너 아니면 안돼〉《灰姑娘的姊姊신데렐라 언니 OST》</span><br />
	<span style="font-size: 15pt;">2010年〈愛你 사랑하고〉《總統프레지던트 OST》（與f(x)Luna合唱）</span><br />
	<span style="font-size: 15pt;">2011年〈等待你 널 기다리며〉《天堂牧場파라다이스 목장 OST》</span><br />
	<span style="font-size: 15pt;">2011年〈只要一天 단 하루만〉《武士白東修드라마 무사 백동수 OST》</span><br />
	<span style="font-size: 15pt;">2011年〈在你身後 그대뒤에 있습니다〉《I Am Behind You 單曲》（與張慧珍合唱）</span><br />
	<span style="font-size: 15pt;">2012年〈꽃보다 그녀 Her Over Flowers〉《I Do I Do아이두 아이두 OST》</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 15pt;">音樂劇：</span></strong></span><br />
	<span style="font-size: 15pt;">2009年《南漢山城남한산성》 飾演 鄭命壽 정명수</span><br />
	<span style="font-size: 15pt;">2010年《洪吉童홍길동》飾演 洪吉童 홍길동</span><br />
	<span style="font-size: 15pt;">2010年《Spamalot火腿騎士스팸어랏》 飾演 Galahad 갈라하드</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 15pt;">綜藝節目：</span></strong></span><br />
	<span style="font-size: 15pt;">2008年 ComedyTV 《了不得的外出第3季 기막힌 외출3》MC</span><br />
	<span style="font-size: 15pt;">2008年 MBCevery1 《偶像軍團》MC</span><br />
	<span style="font-size: 15pt;">2009年 KBS JOY 《花美男的包車 꽃미남 포차》MC</span><br />
	<span style="font-size: 15pt;">2010年 MBC Drama 《愛情追緝者 러브추격자》MC（with利特）</span><br />
	<span style="font-size: 15pt;">2010年 TrendE 《The Muzit 더 뮤지트》MC</span><br />
	<span style="font-size: 15pt;">2010年 MBC 《Super Junior的先見之明》MC</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="font-size: 10pt;"><img alt="YeSeung.jpg" border="0" src="https://pic.pimg.tw/hanzhiyu/1437199718-2057127831_m.jpg" style="border: 0px;" title="YeSeung.jpg" /></span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="font-size: 10pt;">&nbsp;</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="font-size: 10pt;">&nbsp;</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	&nbsp;</p>
</body>
</html>