<!doctype html>
{% load staticfiles %}
<html>
<head>
<title>10314146</title>
<meta charset=utf-8>
</head>
<body>
<h1>成員</h1> <br>
<h2><p><a href=/main>回首頁</a></p></h2>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 128);"><strong><span style="font-size: 15pt;">名稱：Super Junior</span></strong></span><br />
	<span style="color: rgb(0, 0, 128);"><strong><span style="font-size: 15pt;">原文名：슈퍼주니어</span></strong></span><br />
	<span style="color: rgb(0, 0, 128);"><strong><span style="font-size: 15pt;">隸屬公司：SM Entertainment</span></strong></span><br />
	<span style="color: rgb(0, 0, 128);"><strong><span style="font-size: 15pt;">出道時間：2005年11月6日</span></strong></span><br />
	<span style="color: rgb(0, 0, 128);"><strong><span style="font-size: 15pt;">出道作品：《Twins (Knock Out)》</span></strong></span><br />
	<span style="color: rgb(0, 0, 128);"><strong><span style="font-size: 15pt;">成員：十二名</span></strong></span><br />
	<span style="color: rgb(0, 0, 128);"><strong><span style="font-size: 15pt;">歌迷名稱：妖精 E.L.F（Ever Lasting Friends），意思是永遠的朋友。</span></strong></span><br />
	<span style="color: rgb(0, 0, 128);"><strong><span style="font-size: 15pt;">應援物：寶藍色</span></strong></span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="font-size: 15pt; color: rgb(0, 0, 128);"><strong>韓國官方網站：<a href="http://superjunior.smtown.com/" style="color: rgb(169, 6, 20); text-decoration: none;" target="_blank">http://superjunior.smtown.com/</a></strong></span><br />
	<span style="font-size: 15pt; color: rgb(0, 0, 128);"><strong>日本官方網站：<a href="http://superjunior-jp.net/" style="color: rgb(169, 6, 20); text-decoration: none;" target="_blank">http://superjunior-jp.net/</a></strong></span><br />
	<span style="font-size: 15pt; color: rgb(0, 0, 128);"><strong>台灣官方網站：<a href="http://www.avex.com.tw/superjunior/" style="color: rgb(169, 6, 20); text-decoration: none;" target="_blank">http://www.avex.com.tw/superjunior/</a></strong></span><br />
	<span style="font-size: 15pt; color: rgb(0, 0, 128);"><strong>官方微博：<a href="http://weibo.com/superjunior/" style="color: rgb(169, 6, 20); text-decoration: none;" target="_blank">http://weibo.com/superjunior/</a></strong></span><br />
	<span style="font-size: 15pt; color: rgb(0, 0, 128);"><strong>官方Facebook：<a href="http://www.facebook.com/superjunior?sk=wall/" style="color: rgb(169, 6, 20); text-decoration: none;" target="_blank">http://www.facebook.com/superjunior?sk=wall/</a></strong></span><br />
	<span style="font-size: 15pt; color: rgb(0, 0, 128);"><strong>官方Youtube：<a href="http://www.youtube.com/superjunior/" style="color: rgb(169, 6, 20); text-decoration: none;" target="_blank">http://www.youtube.com/superjunior/</a></strong></span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 128);"><strong><span style="font-size: 10pt;">簡介：</span></strong></span><br />
	<span style="font-size: 15pt;">簡稱為SJ 或SuJu（韓語：슈​​주），是由韓國SM Entertainment創辦人李秀滿發掘的男子組合。於2005年11月6日出道，出道初期有12名成員，分別是：利特、希澈、韓庚、藝聲、強仁、神童、晟敏、銀赫、始源、東海、厲旭、起範。第13位成員圭賢於2006年5月加入。</span><br />
	<span style="font-size: 15pt;">2009年起范暫停參與SJ團體歌唱及唱片宣傳活動，並專註於影視發展；同年12月21日韓庚宣布離隊單飛。韓庚和SM Entertainment的合約糾紛已於2011年9月27日正式達成和解，韓庚正式解約離隊。</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	&nbsp;</p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	&nbsp;</p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="font-size: 17pt; color: rgb(255, 0, 0);"><strong>成員介紹：</strong></span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0); font-size: 17pt;"><strong>利特</strong></span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<img alt="LeeTeuk-2.jpg" border="0" src="https://pic.pimg.tw/hanzhiyu/1437199713-1744031690_n.jpg" style="border: 0px;" title="LeeTeuk-2.jpg" /></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="font-size: 15pt;">藝名：Lee-Teuk（이특）</span><br />
	<span style="font-size: 15pt;">本名：朴正洙（박정수）Park Jung-Soo</span><br />
	<span style="font-size: 15pt;">出生日期：1983年7月1日</span><br />
	<span style="font-size: 15pt;">身高：178cm</span><br />
	<span style="font-size: 15pt;">體重：59kg</span><br />
	<span style="font-size: 15pt;">血型：A型</span><br />
	<span style="font-size: 15pt;">隊中職務：隊長、副唱</span><br />
	<span style="font-size: 15pt;">學歷：仁荷大學放送演藝學科</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 10pt;">電視劇：</span></strong></span><br />
	<span style="font-size: 15pt;">2000年 MBC<span style="font-size: 13.3333px;">《</span>愛上女主播 客串</span><br />
	<span style="font-size: 15pt;">2006年 MBC《彩虹羅曼史》<br />
	2011年 MBC<span style="font-size: 13.3333px;">《</span>全部我的愛<span style="font-size: 13.3333px;">》</span>144集 客串</span><br />
	<span style="font-size: 15pt;">2011年 MBC<span style="font-size: 13.3333px;">《</span>我家的女人們<span style="font-size: 13.3333px;">》</span></span><br />
	<span style="font-size: 15pt;">2012年 SBS<span style="font-size: 13.3333px;">《</span>蠑螈道士與幕後操縱團<span style="font-size: 13.3333px;">》第</span>4集 客串演出節目錄影主持人<br />
	2015年 Mnet《七顛八起具海拉》客串 人氣Show Camp主持人</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="font-size: 15pt;"><strong><span style="font-size: 10pt;">電影：</span></strong><br />
	<span style="font-size: 15pt;">2007年《花美男連環恐怖襲擊事件》 飾演 熊貓</span></span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="font-size: 15pt;"><span style="color: rgb(0, 0, 0);"><strong>音樂劇：</strong></span><br />
	2013年《The Promise》飾演 金德丘二等兵</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 10pt;">主持：</span></strong><span style="color: rgb(255, 255, 255);"><span style="font-size: 10pt;">轉載自</span><span style="font-size: 10pt;">http://hanzhiyu.pixnet.net/blog</span></span></span><br />
	<span style="font-size: 10pt;">2005年 M.netKMTV<span style="font-size: 13.3333px;">《</span>M!Countdown<span style="font-size: 13.3333px;">》</span></span><br />
	<span style="font-size: 10pt;">2006年 M.netKMTV<span style="font-size: 13.3333px;">《</span>Hello Chat<span style="font-size: 13.3333px;">》</span></span><br />
	<span style="font-size: 10pt;">2007年 M.netKMTV<span style="font-size: 13.3333px;">《</span>利特的LOVE FIGHTER<span style="font-size: 13.3333px;">》</span></span><br />
	<span style="font-size: 10pt;">2007年 SBS<span style="font-size: 13.3333px;">《</span>人體探驗隊<span style="font-size: 13.3333px;">》</span></span><br />
	<span style="font-size: 10pt;">2008年 M.netKMTV<span style="font-size: 13.3333px;">《</span>YOU CAN FLY<span style="font-size: 13.3333px;">》</span></span><br />
	<span style="font-size: 10pt;">2008年 MBC<span style="font-size: 13.3333px;">《</span>MBC every1偶像軍團紅了!她<span style="font-size: 13.3333px;">》</span></span><br />
	<span style="font-size: 10pt;">2008年 KBS中秋特輯<span style="font-size: 13.3333px;">《</span>尋找一流至尊達人<span style="font-size: 13.3333px;">》</span></span><br />
	<span style="font-size: 10pt;">2008年 M.net KMTV<span style="font-size: 13.3333px;">《</span>童貞男戀愛吧<span style="font-size: 13.3333px;">》</span></span><br />
	<span style="font-size: 10pt;">2008年 SBS<span style="font-size: 13.3333px;">《</span>人氣歌謠<span style="font-size: 13.3333px;">》</span></span><br />
	<span style="font-size: 10pt;">2010年 MBC<span style="font-size: 13.3333px;">《</span>愛情追擊者<span style="font-size: 13.3333px;">》</span>（和藝聲共同主持）</span><br />
	<span style="font-size: 10pt;">2010年 MBC Every 1<span style="font-size: 13.3333px;">《</span>Super Junior的先見之明<span style="font-size: 13.3333px;">》</span></span><br />
	<span style="font-size: 10pt;">2011年 tvN<span style="font-size: 13.3333px;">《</span>5000萬的大提問<span style="font-size: 13.3333px;">》</span></span><br />
	<span style="font-size: 10pt;">2011年 SBS<span style="font-size: 13.3333px;">《</span>Starking<span style="font-size: 13.3333px;">》</span></span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 10pt;">綜藝節目：</span></strong></span><br />
	<span style="font-size: 10pt;">2005年 M.net KMTV<span style="font-size: 13.3333px;">《</span>&nbsp;Super Junior show<span style="font-size: 13.3333px;">》</span></span><br />
	<span style="font-size: 10pt;">2006年 M.net KMTV&nbsp;<span style="font-size: 13.3333px;">《</span>神秘追跡6<span style="font-size: 13.3333px;">》</span></span><br />
	<span style="font-size: 10pt;">2006年 SBS&nbsp;<span style="font-size: 13.3333px;">《</span>Super Junior的FULLHOUSE<span style="font-size: 13.3333px;">》</span></span><br />
	<span style="font-size: 10pt;">2006年 M.netKMTV<span style="font-size: 13.3333px;">《</span>美少年宿舍大騷動<span style="font-size: 13.3333px;">》</span></span><br />
	<span style="font-size: 10pt;">2006年 M.netKMTV<span style="font-size: 13.3333px;">《</span>Super Junior自製劇<span style="font-size: 13.3333px;">《</span></span><br />
	<span style="font-size: 10pt;">2007年 M.netKMTV<span style="font-size: 13.3333px;">《</span>Super Junior-T Idol World<span style="font-size: 13.3333px;">》</span></span><br />
	<span style="font-size: 10pt;">2007年 SBS《人體探驗隊》</span><br />
	<span style="font-size: 10pt;">2008年 MBC<span style="font-size: 13.3333px;">《</span>不得了的外出<span style="font-size: 13.3333px;">》</span>第三季</span><br />
	<span style="font-size: 10pt;">2008年 MBC&nbsp;Sponge短劇<span style="font-size: 13.3333px;">《</span>不得了的故事<span style="font-size: 13.3333px;">》</span></span><br />
	<span style="font-size: 10pt;">2008年 MBC<span style="font-size: 13.3333px;">《</span>MBC every1偶像軍團紅了!她<span style="font-size: 13.3333px;">《</span></span><br />
	<span style="font-size: 10pt;">2009年 SBS<span style="font-size: 13.3333px;">《</span>強心臟<span style="font-size: 13.3333px;">》</span>&nbsp;固定班底</span><br />
	<span style="font-size: 10pt;">2010年 MBC<span style="font-size: 13.3333px;">《</span>Super Junior的先見之明<span style="font-size: 13.3333px;">《</span>MC</span><br />
	<span style="font-size: 10pt;">2011年 MBC<span style="font-size: 13.3333px;">《</span>享受今天</span><br />
	<span style="font-size: 10pt;">2011年 KBS<span style="font-size: 13.3333px;">《</span>Hello Baby Season 4</span><br />
	<span style="font-size: 10pt;">2011年 MBC<span style="font-size: 13.3333px;">《</span>我們結婚了<span style="font-size: 13.3333px;">《</span>&nbsp;(與女演員姜素拉)</span><br />
	<span style="font-size: 10pt;">2011年 SBS<span style="font-size: 13.3333px;">《</span>Star King<span style="font-size: 13.3333px;">》</span>MC</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="font-size: 10pt;"><img alt="LeeTeuk.jpg" border="0" src="https://pic.pimg.tw/hanzhiyu/1437199712-3581715265_m.jpg" style="border: 0px;" title="LeeTeuk.jpg" /></span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	&nbsp;</p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	&nbsp;</p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	&nbsp;</p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="font-size: 12pt; color: rgb(0, 0, 0);"><strong>希澈</strong></span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<img alt="HeeChul-2.jpg" border="0" src="https://pic.pimg.tw/hanzhiyu/1437199708-3619718260_n.jpg" style="border: 0px;" title="HeeChul-2.jpg" /></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="font-size: 10pt;">藝名：Hee-Chul（희철）</span><br />
	<span style="font-size: 10pt;">本名：金希澈（김희철）Kim Hee-Chul</span><br />
	<span style="font-size: 10pt;">暱稱：灰姑娘(仙度瑞拉)、希大人、公主、火星人、金起伏、宇宙大明星</span><br />
	<span style="font-size: 10pt;">出生日期：1983年7月10日</span><br />
	<span style="font-size: 10pt;">身高：179cm</span><br />
	<span style="font-size: 10pt;">體重：57kg</span><br />
	<span style="font-size: 10pt;">血型：AB型</span><br />
	<span style="font-size: 10pt;">隊中職務：副唱</span><br />
	<span style="font-size: 10pt;">學歷：韓國尚志大學計算機科學技術專業研究生</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 10pt;">個人音樂作品：</span></strong></span><br />
	<span style="font-size: 10pt;">2009年 初星 (金希澈SOLO　愛你千萬次OST)</span><br />
	<span style="font-size: 10pt;">2011年 離別真的如我 (與金長勳)</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 10pt;">電視劇：</span></strong></span><br />
	<span style="font-size: 10pt;">2005年 《玉琳的成長日記 2》 飾演 白真宇</span><br />
	<span style="font-size: 10pt;">2005年 MBC《男生女生向前走6/Non-Stop6》</span><br />
	<span style="font-size: 10pt;">2005年 《彩虹羅曼史》 飾演 金希澈</span><br />
	<span style="font-size: 10pt;">2006年 SBS《不良家族》飾演 孔旻</span><br />
	<span style="font-size: 10pt;">2007年 SBS《黃金新娘》 飾演 金英修</span><br />
	<span style="font-size: 10pt;">2009年《泰熙慧喬智賢》（客串）</span><br />
	<span style="font-size: 10pt;">2009年 SBS《愛你千萬次》 飾演 李哲</span><br />
	<span style="font-size: 10pt;">2010年 SBS《我是傳說》飾演 金希澈（客串）</span><br />
	<span style="font-size: 10pt;">2011年 CCTV《青春旋律》飾演 申泰一<br />
	2013年 SBS《欲戴王冠，必承其重－繼承者們》（第4集客串藝人）<br />
	2014年 tvN《花樣爺爺搜查隊》飾演 朴政宇</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 10pt;">電影：</span></strong><span style="color: rgb(255, 255, 255);"><span style="font-size: 10pt;">轉載自</span><span style="font-size: 10pt;">http://hanzhiyu.pixnet.net/blog</span></span></span><br />
	<span style="font-size: 10pt;">2007年《花美男連環恐怖事件》</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 10pt;">音樂劇：</span></strong></span><br />
	<span style="font-size: 10pt;">2008年《仙那度》飾演 sony</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 10pt;">MV：</span></strong></span><br />
	<span style="font-size: 10pt;">2007年 Magolpy〈飛行少女〉</span><br />
	<span style="font-size: 10pt;">2010年 TRAX〈內心冰冷的男人〉和f(x)的Victoria出演</span><br />
	<span style="font-size: 10pt;">2010年 Sistar〈Shady Girl〉</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="font-size: 10pt;"><img alt="HeeChul.jpg" border="0" src="https://pic.pimg.tw/hanzhiyu/1437199707-1361751145_m.jpg" style="border: 0px;" title="HeeChul.jpg" /></span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="font-size: 10pt;">&nbsp;</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="font-size: 10pt;">&nbsp;</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	&nbsp;</p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="font-size: 12pt; color: rgb(0, 0, 0);"><strong>藝聲</strong></span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<img alt="YeSeung-2.jpg" border="0" src="https://pic.pimg.tw/hanzhiyu/1437199719-3682544414_n.jpg" style="border: 0px;" title="YeSeung-2.jpg" /></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="font-size: 10pt;">藝名：Ye-Sung（예성）</span><br />
	<span style="font-size: 10pt;">本名：金鐘雲（김종운）Kim Jong-Woon</span><br />
	<span style="font-size: 10pt;">出生日期：1984年8月24日</span><br />
	<span style="font-size: 10pt;">身高：178cm</span><br />
	<span style="font-size: 10pt;">體重：58kg</span><br />
	<span style="font-size: 10pt;">血型：AB型</span><br />
	<span style="font-size: 10pt;">隊中職務：領唱</span><br />
	<span style="font-size: 10pt;">學歷：法蘭特斯南方鎮大學會計系</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 10pt;">個人音樂作品：</span></strong><span style="color: rgb(255, 255, 255);"><span style="font-size: 10pt;">轉載自</span><span style="font-size: 10pt;">http://hanzhiyu.pixnet.net/blog</span></span></span><br />
	<span style="font-size: 10pt;">2008年〈愛情真的很痛 사랑 참 아프다〉《老千타짜 OST》</span><br />
	<span style="font-size: 10pt;">2008年〈現在去見你 지금 만나러 가요〉《尚根的願望상근이의소망 OST》 （與Super Junior晟敏合唱）</span><br />
	<span style="font-size: 10pt;">2009年〈北門的陷阱 북문의 덫〉《南漢山城남한산성 OST》&nbsp;</span><br />
	<span style="font-size: 10pt;">2010年〈非你不可 너 아니면 안돼〉《灰姑娘的姊姊신데렐라 언니 OST》</span><br />
	<span style="font-size: 10pt;">2010年〈愛你 사랑하고〉《總統프레지던트 OST》（與f(x)Luna合唱）</span><br />
	<span style="font-size: 10pt;">2011年〈等待你 널 기다리며〉《天堂牧場파라다이스 목장 OST》</span><br />
	<span style="font-size: 10pt;">2011年〈只要一天 단 하루만〉《武士白東修드라마 무사 백동수 OST》</span><br />
	<span style="font-size: 10pt;">2011年〈在你身後 그대뒤에 있습니다〉《I Am Behind You 單曲》（與張慧珍合唱）</span><br />
	<span style="font-size: 10pt;">2012年〈꽃보다 그녀 Her Over Flowers〉《I Do I Do아이두 아이두 OST》</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 10pt;">音樂劇：</span></strong></span><br />
	<span style="font-size: 10pt;">2009年《南漢山城남한산성》 飾演 鄭命壽 정명수</span><br />
	<span style="font-size: 10pt;">2010年《洪吉童홍길동》飾演 洪吉童 홍길동</span><br />
	<span style="font-size: 10pt;">2010年《Spamalot火腿騎士스팸어랏》 飾演 Galahad 갈라하드</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 10pt;">綜藝節目：</span></strong></span><br />
	<span style="font-size: 10pt;">2008年 ComedyTV 《了不得的外出第3季 기막힌 외출3》MC</span><br />
	<span style="font-size: 10pt;">2008年 MBCevery1 《偶像軍團》MC</span><br />
	<span style="font-size: 10pt;">2009年 KBS JOY 《花美男的包車 꽃미남 포차》MC</span><br />
	<span style="font-size: 10pt;">2010年 MBC Drama 《愛情追緝者 러브추격자》MC（with利特）</span><br />
	<span style="font-size: 10pt;">2010年 TrendE 《The Muzit 더 뮤지트》MC</span><br />
	<span style="font-size: 10pt;">2010年 MBC 《Super Junior的先見之明》MC</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="font-size: 10pt;"><img alt="YeSeung.jpg" border="0" src="https://pic.pimg.tw/hanzhiyu/1437199718-2057127831_m.jpg" style="border: 0px;" title="YeSeung.jpg" /></span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="font-size: 10pt;">&nbsp;</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="font-size: 10pt;">&nbsp;</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	&nbsp;</p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="font-size: 12pt; color: rgb(0, 0, 0);"><strong>強仁</strong></span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<img alt="KangIn-2.jpg" border="0" src="https://pic.pimg.tw/hanzhiyu/1437199709-1819536054_n.jpg" style="border: 0px;" title="KangIn-2.jpg" /></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="font-size: 10pt;">藝名：Kang In（강인）</span><br />
	<span style="font-size: 10pt;">本名：金英雲（김영운）Kim Young Woon</span><br />
	<span style="font-size: 10pt;">出生日期：1985年1月17日</span><br />
	<span style="font-size: 10pt;">身高：180cm</span><br />
	<span style="font-size: 10pt;">體重：64kg</span><br />
	<span style="font-size: 10pt;">血型：O型</span><br />
	<span style="font-size: 10pt;">隊中職務：副唱</span><br />
	<span style="font-size: 10pt;">學歷：慶熙大學文化藝術經營系</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 10pt;">電影：</span></strong></span><br />
	<span style="font-size: 10pt;">2007年《花美男連鎖恐怖事件》飾演 柔道社社長</span><br />
	<span style="font-size: 10pt;">2008年《純情漫畫》飾演 康淑</span><br />
	<span style="font-size: 10pt;">2014年《貓的葬禮》飾演 東勛</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 10pt;">音樂劇：</span></strong></span><br />
	<span style="font-size: 10pt;">2008年《仙那度》韓國（飾演 Sonny）</span><br />
	<span style="font-size: 10pt;">2012年《宮》日本（飾演 李信王子）</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 10pt;">主持：</span></strong><span style="color: rgb(255, 255, 255);"><span style="font-size: 10pt;">轉載自</span><span style="font-size: 10pt;">http://hanzhiyu.pixnet.net/blog</span></span></span><br />
	<span style="font-size: 10pt;">2004年 SBS「一晚的TV演藝」擔任特派員</span><br />
	<span style="font-size: 10pt;">2005年 擔任「寶兒歌友會」主持人</span><br />
	<span style="font-size: 10pt;">2005年 擔任「東方神起Show Case」主持人</span><br />
	<span style="font-size: 10pt;">2005年 MBC「星期六」朴慶琳的約會嘉賓(主持人)</span><br />
	<span style="font-size: 10pt;">2005年 擔任 M.netKMTV 「M!Countdown」主持人</span><br />
	<span style="font-size: 10pt;">2006年 衛星DMB「強仁的天方地軸」電台DJ</span><br />
	<span style="font-size: 10pt;">2007年 擔任MBC廣播 FM4U「強仁、泰妍的好朋友」DJ</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 10pt;">綜藝節目：</span></strong></span><br />
	<span style="font-size: 10pt;">2008年 MBC「我們結婚了」，搭檔為李允芝</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 10pt;">廣告代言：</span></strong></span><br />
	<span style="font-size: 10pt;">2007年 「1677 Collectcal」廣告模特兒</span><br />
	<span style="font-size: 10pt;">2007年 HAITAI飲料「香吉士〝檸檬汁、柚子汁〞」廣告模特兒</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="font-size: 10pt;"><img alt="KangIn.jpg" border="0" src="https://pic.pimg.tw/hanzhiyu/1437199708-3375447801_m.jpg" style="border: 0px;" title="KangIn.jpg" /></span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="font-size: 10pt;">&nbsp;</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="font-size: 10pt;">&nbsp;</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	&nbsp;</p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="font-size: 12pt; color: rgb(0, 0, 0);"><strong>神童</strong></span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<img alt="Shindong.jpg" border="0" src="http://pic.pimg.tw/hanzhiyu/1409654067-3076856276_n.jpg" style="border: 0px;" title="Shindong.jpg" /></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="font-size: 10pt;">藝名：Shin-Dong（신동）</span><br />
	<span style="font-size: 10pt;">本名：申東熙（신동희）Shin Dong-Hee</span><br />
	<span style="font-size: 10pt;">出生日期：1985年9月28日</span><br />
	<span style="font-size: 10pt;">身高：178cm</span><br />
	<span style="font-size: 10pt;">體重：85kg</span><br />
	<span style="font-size: 10pt;">血型：O型</span><br />
	<span style="font-size: 10pt;">隊中職務：領舞、Rapper</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 10pt;">電視劇：</span></strong></span><br />
	<span style="font-size: 10pt;">2008年 KBS《單身爸爸戀愛中》</span><br />
	<span style="font-size: 10pt;">2010年 SBS《醫生冠軍》</span><br />
	<span style="font-size: 10pt;">2011年 MBS《全部我的愛》第43、\44集客串</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 10pt;">主持：</span></strong><span style="color: rgb(255, 255, 255);"><span style="font-size: 10pt;">轉載自</span><span style="font-size: 10pt;">http://hanzhiyu.pixnet.net/blog</span></span></span><br />
	<span style="font-size: 10pt;">2005年 「KMTV Show! Music Tank」主持人</span><br />
	<span style="font-size: 10pt;">2005年 「東方神起『Sweet Rose Party』」主持人</span><br />
	<span style="font-size: 10pt;">2005年 「M.netKMTV M!Countdown」主持人</span><br />
	<span style="font-size: 10pt;">2007年 MBC「親親親 小朋友萬歲」主持人</span><br />
	<span style="font-size: 10pt;">2007年 M.net「DJ 綠蘋果Sound」主持人</span><br />
	<span style="font-size: 10pt;">2007年-現在 MBC「深深打破」主持人</span><br />
	<span style="font-size: 10pt;">2009年 MBC 「唯獨今晚哄我入睡」</span><br />
	<span style="font-size: 10pt;">2010年 MBC「Super Junior的先見之明」MC</span><br />
	<span style="font-size: 10pt;">2012年 M.net「Beatles Code 2」主持人</span><br />
	<span style="font-size: 10pt;">2012年 MBC「偉大的誕生2」幕後故事&quot;Happy Ending&quot; 主持人</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 10pt;">綜藝節目：</span></strong></span><br />
	<span style="font-size: 10pt;">2007年 MBC「黃金魚場」固定班底</span><br />
	<span style="font-size: 10pt;">2008年 M-net「 容兄東弟」</span><br />
	<span style="font-size: 10pt;">2010 SBS「強心臟」</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="font-size: 10pt;">&nbsp;</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	&nbsp;</p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	&nbsp;</p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="font-size: 12pt; color: rgb(0, 0, 0);"><strong>晟敏</strong></span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<img alt="Sungmin.jpg" border="0" src="http://pic.pimg.tw/hanzhiyu/1409654073-2301296573_n.jpg" style="border: 0px;" title="Sungmin.jpg" /></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="font-size: 10pt;">藝名：Sung-Min（성민）</span><br />
	<span style="font-size: 10pt;">本名：李晟敏（이성민）Lee Sung-Min</span><br />
	<span style="font-size: 10pt;">出生日期：1986年1月1日</span><br />
	<span style="font-size: 10pt;">身高：175cm</span><br />
	<span style="font-size: 10pt;">體重：57kg</span><br />
	<span style="font-size: 10pt;">血型：A型</span><br />
	<span style="font-size: 10pt;">隊中職務：副唱</span><br />
	<span style="font-size: 10pt;">學歷：明知大學放送演藝系</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 10pt;">個人音樂作品：</span></strong></span><br />
	<span style="font-size: 10pt;">2005年《Show Me Your Love》（與東方神起合作）</span><br />
	<span style="font-size: 10pt;">2008年〈現在去見你〉《尚根的願望 OST》（與藝聲共同演唱）</span><br />
	<span style="font-size: 10pt;">2009年《Akilla OST》I Akilla You, The Song of the AKILLA, You&#39;ve Got A Friend, Love Song(Ver.1),Good-bye My Friend, After Tonight</span><br />
	<span style="font-size: 10pt;">2010年〈咬住嘴唇〉《總統 OST Part1》（與厲旭、圭賢共同演唱）</span><br />
	<span style="font-size: 10pt;">2012年〈OH WA〉《需要仙女（I Need A Fairy）OST Part2》</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 10pt;">音樂劇：</span></strong></span><br />
	<span style="font-size: 10pt;">2009年《Akilla》</span><br />
	<span style="font-size: 10pt;">2010年《洪吉童》（與藝聲同為主角）</span><br />
	<span style="font-size: 10pt;">2011年《Jack the Ripper》</span><br />
	<span style="font-size: 10pt;">2012年《Jack the Ripper》日本東京（飾演 Daniel）</span><br />
	<span style="font-size: 10pt;">2013年-2014年《夏之雪》日本大阪，日本東京，台灣（飾演 筱田夏生）</span><br />
	<span style="font-size: 10pt;">2013年《Jack the Ripper》日本橫濱（飾演 Daniel）</span><br />
	<span style="font-size: 10pt;">2013年-2014年《三劍客》韓國首爾（飾演 達達尼昂）</span><br />
	<span style="font-size: 10pt;">2014年《吸血鬼》日本東京（飾演 德古拉）</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 10pt;">主持：</span></strong></span><br />
	<span style="font-size: 10pt;">2007年 衛星DMB「天方地軸」 DJ（與少女時代成員秀英和Sunny共同主持）</span><br />
	<span style="font-size: 10pt;">2009年 MBC「OPPA BAND」 主持人</span><br />
	<span style="font-size: 10pt;">2011年 東風衛視「名人帶路」 主持人</span><br />
	<span style="font-size: 10pt;">2011年 KBS Cool FM「Kiss the Radio」 DJ（與厲旭共同主持）<br />
	2013年「第7屆大邱國際音樂劇節 (Daegu International Musical Festival)」主持人</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 10pt;">電視劇：</span></strong></span><br />
	<span style="font-size: 10pt;">2005年 MBC《姊妹之海》飾演東申</span><br />
	<span style="font-size: 10pt;">2005年 KBS《靈骨塔少年》</span><br />
	<span style="font-size: 10pt;">2006年 《尋找遺失的時間》（客串）</span><br />
	<span style="font-size: 10pt;">2010年 KBS《總統》飾演張晟敏</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	&nbsp;</p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	&nbsp;</p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	&nbsp;</p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="font-size: 12pt; color: rgb(0, 0, 0);"><strong>銀赫</strong></span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<img alt="EunHyuk-2.jpg" border="0" src="https://pic.pimg.tw/hanzhiyu/1437199706-2691652340_n.jpg" style="border: 0px;" title="EunHyuk-2.jpg" /></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="font-size: 10pt;">藝名：Eun-Hyuk（은혁）</span><br />
	<span style="font-size: 10pt;">本名：李赫宰（이혁재）Lee Hyuk-Jae</span><br />
	<span style="font-size: 10pt;">出生日期：1986年4月4日</span><br />
	<span style="font-size: 10pt;">身高：174cm</span><br />
	<span style="font-size: 10pt;">體重：52kg</span><br />
	<span style="font-size: 10pt;">血型：O型</span><br />
	<span style="font-size: 10pt;">隊中職務：主領舞、主Rapper</span><br />
	<span style="font-size: 10pt;">學歷：百濟大學表演影視學院 表演電影專業</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 10pt;">音樂劇：</span></strong></span><br />
	<span style="font-size: 10pt;">2011年《Fame》飾演 Tyron Jackson</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="font-size: 10pt;"><span style="color: rgb(0, 0, 0);"><strong>MV：</strong></span><br />
	FIX 〈Please Don&#39;t Say(말하지마)〉</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 10pt;">主持：</span></strong></span><br />
	<span style="font-size: 10pt;">2006年~2011年 KBS Cool FM「KISS THE RADIO」 DJ（後由晟敏和厲旭接棒）</span><br />
	<span style="font-size: 10pt;">2008年 BC「偶像軍團 Idol Show」第一季 MC</span><br />
	<span style="font-size: 10pt;">2009年 SBS「強心臟」 固定班底</span><br />
	<span style="font-size: 10pt;">2010年 KBS「百分滿分」 固定班底</span><br />
	<span style="font-size: 10pt;">2010年 MBC「Super Junior的先見之明」 MC</span><br />
	<span style="font-size: 10pt;">2011年 東風衛視「名人帶路」 主持人</span><br />
	<span style="font-size: 10pt;">2012年 MBC《來玩吧》固定班底</span><br />
	<span style="font-size: 10pt;">2013年 SBS《赤腳的朋友們》固定班底</span><br />
	<span style="font-size: 10pt;">2013年《第10屆亞洲音樂節》主持人</span><br />
	<span style="font-size: 10pt;">2014年《第23屆首爾音樂獎》主持人</span><br />
	<span style="font-size: 10pt;">2014年《第20屆夢想演唱會》主持人</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="font-size: 10pt;"><img alt="EunHyuk.jpg" border="0" src="https://pic.pimg.tw/hanzhiyu/1437199705-2488125797_m.jpg" style="border: 0px;" title="EunHyuk.jpg" /></span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	&nbsp;</p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	&nbsp;</p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	&nbsp;</p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 12pt;">始源</span></strong></span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<img alt="SiWon-2.jpg" border="0" src="https://pic.pimg.tw/hanzhiyu/1437199717-247502817_n.jpg" style="border: 0px;" title="SiWon-2.jpg" /></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="font-size: 10pt;">藝名：Si-Won|（시원）</span><br />
	<span style="font-size: 10pt;">本名：崔始源（최시원）Choi Si-Won</span><br />
	<span style="font-size: 10pt;">出生日期：1986年4月7日</span><br />
	<span style="font-size: 10pt;">身高：183cm</span><br />
	<span style="font-size: 10pt;">體重：63kg</span><br />
	<span style="font-size: 10pt;">血型：B型</span><br />
	<span style="font-size: 10pt;">隊中職務：副唱、形象擔當</span><br />
	<span style="font-size: 10pt;">學歷：仁荷大學藝術體育學學士</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 10pt;">MV：</span></strong></span><br />
	<span style="font-size: 10pt;">2003年《What is Love》 &ndash; DANA</span><br />
	<span style="font-size: 10pt;">2006年《Timeless》 &ndash; 張力尹 (Feat. 東方神起的細亞俊秀)</span><br />
	<span style="font-size: 10pt;">2008年《星願》 &ndash; 張力尹</span><br />
	<span style="font-size: 10pt;">2008年《幸福的左岸》 &ndash; 張力尹</span><br />
	<span style="font-size: 10pt;">2009年《螢火蟲》 &ndash; 林依晨</span><br />
	<span style="font-size: 10pt;">2010年《훗(Hoot)》 &ndash; 少女時代</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 10pt;">電視劇：</span></strong><span style="color: rgb(255, 255, 255);"><span style="font-size: 10pt;">轉載自</span><span style="font-size: 10pt;">http://hanzhiyu.pixnet.net/blog</span></span></span><br />
	<span style="font-size: 10pt;">2004年 KBS《父母見上書》</span><br />
	<span style="font-size: 10pt;">2005年 KBS《18．29》客串 18歲的江尚永&nbsp;</span><br />
	<span style="font-size: 10pt;">2006年 KBS《Charnel Boy》</span><br />
	<span style="font-size: 10pt;">2006年 KBS《春天華爾茲》飾 Park Sang Woo</span><br />
	<span style="font-size: 10pt;">2007年 MBC《香丹傳》飾 Lee Mongryong</span><br />
	<span style="font-size: 10pt;">2009年 CCTV《青春舞台》飾 始源 客串</span><br />
	<span style="font-size: 10pt;">2010年 SBS《Oh My Lady》飾 成敏宇</span><br />
	<span style="font-size: 10pt;">2010年 SBS《雅典娜：戰爭女神》飾 金俊浩</span><br />
	<span style="font-size: 10pt;">2011年 八大綜合台《華麗的挑戰》飾 敦賀蓮</span><br />
	<span style="font-size: 10pt;">2011年 KBS《波塞冬》飾 金善宇</span><br />
	<span style="font-size: 10pt;">2012年 SBS《電視劇帝王》<br />
	2015年 CCTV-8《轉身說愛你》飾演 宋晨曦</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 10pt;">電影：</span></strong><br />
	<span style="font-size: 10pt;"><span style="font-size: 13px;">2006年《墨攻》飾 梁適</span></span></span><br />
	<span style="font-size: 10pt;">2007年《花美男連鎖恐怖事件》飾 崔始源<br />
	2015年《天將雄師》飾演 殷破<br />
	2015年《赤道》飾演 朴宇哲<br />
	2015年《破風》飾演 鄭知元</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="font-size: 10pt;"><img alt="SiWon.jpg" border="0" src="https://pic.pimg.tw/hanzhiyu/1437199716-2440755570_m.jpg" style="border: 0px;" title="SiWon.jpg" /></span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	&nbsp;</p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	&nbsp;</p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	&nbsp;</p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="font-size: 12pt; color: rgb(0, 0, 0);"><strong>東海</strong></span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<img alt="DongHae-2.jpg" border="0" src="https://pic.pimg.tw/hanzhiyu/1437199705-3877624171_n.jpg" style="border: 0px;" title="DongHae-2.jpg" /></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="font-size: 10pt;">藝名：Dong-Hae（동해）</span><br />
	<span style="font-size: 10pt;">本名：李東海（이동해）Lee Dong-Hae</span><br />
	<span style="font-size: 10pt;">出生日期：1986年10月15日</span><br />
	<span style="font-size: 10pt;">身高：175cm</span><br />
	<span style="font-size: 10pt;">體重：58kg</span><br />
	<span style="font-size: 10pt;">血型：A型</span><br />
	<span style="font-size: 10pt;">隊中職務：副唱、領舞</span><br />
	<span style="font-size: 10pt;">學歷：明知大學電影表演系</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 10pt;">個人音樂作品：</span></strong></span><br />
	<span style="font-size: 10pt;">2009年〈Happy Bubble〉（與圭賢 、韓智敏合唱）</span><br />
	<span style="font-size: 10pt;">2012年〈Please Don&#39;t〉《熊貓小姐和刺蝟 OST》</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 10pt;">MV：</span></strong></span><br />
	<span style="font-size: 10pt;">2006年 BoA〈key of heart〉</span><br />
	<span style="font-size: 10pt;">2007年 少女時代〈Kissing You〉</span><br />
	<span style="font-size: 10pt;">2009年 林依晨〈螢火蟲〉</span><br />
	<span style="font-size: 10pt;">2009年 張力尹〈晴天, 雨天〉</span><br />
	<span style="font-size: 10pt;">2009年 東海、圭賢、韓智敏〈Happy Bubble〉</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 10pt;">電視劇：</span></strong><span style="color: rgb(255, 255, 255);"><span style="font-size: 10pt;">轉載自</span><span style="font-size: 10pt;">http://hanzhiyu.pixnet.net/blog</span></span></span><br />
	<span style="font-size: 10pt;">2010年 SBS《沒關係，爸爸的女兒》飾 崔旭基&nbsp;</span><br />
	<span style="font-size: 10pt;">2011年 八大綜合台《華麗的挑戰》飾 不破尚（不破松太郎）&nbsp;</span><br />
	<span style="font-size: 10pt;">2012年 Channel A《熊貓小姐和刺蝟》飾 高勝志<br />
	2014年 OCN《神的測驗4》飾演 韓時宇</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 10pt;">電影：</span></strong></span><br />
	<span style="font-size: 10pt;">2007年《花美男連鎖恐怖事件》飾演 李東海<br />
	2014年《傳聞》飾演 鄭宇</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 10pt;">主持：</span></strong></span><br />
	<span style="font-size: 10pt;">2011年 東風衛視「名人帶路」 主持人</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="font-size: 10pt;"><img alt="DongHae.jpg" border="0" src="https://pic.pimg.tw/hanzhiyu/1437199704-4085790048_m.jpg" style="border: 0px;" title="DongHae.jpg" /></span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	&nbsp;</p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	&nbsp;</p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	&nbsp;</p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="font-size: 12pt; color: rgb(0, 0, 0);"><strong>厲旭</strong></span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<img alt="RyeWook-2.jpg" border="0" src="https://pic.pimg.tw/hanzhiyu/1437199715-3864426382_n.jpg" style="border: 0px;" title="RyeWook-2.jpg" /></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="font-size: 10pt;">藝名：Ryeo-Wook（려욱）</span><br />
	<span style="font-size: 10pt;">本名：金厲旭（김려욱）Kim Ryeo-Wook</span><br />
	<span style="font-size: 10pt;">出生日期：1987年06月21日</span><br />
	<span style="font-size: 10pt;">身高：173cm</span><br />
	<span style="font-size: 10pt;">體重：56kg</span><br />
	<span style="font-size: 10pt;">血型：O型</span><br />
	<span style="font-size: 10pt;">隊中職務：主唱</span><br />
	<span style="font-size: 10pt;">學歷：仁荷大學戲劇電影學學士</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 10pt;">個人音樂作品：</span></strong><span style="color: rgb(255, 255, 255);"><span style="font-size: 10pt;">轉載自</span><span style="font-size: 10pt;">http://hanzhiyu.pixnet.net/blog</span></span></span><br />
	<span style="font-size: 10pt;">Super Junior K.R.Y - 〈夢想的Hero〉</span><br />
	<span style="font-size: 10pt;">一日密語OST - 〈Angel〉</span><br />
	<span style="font-size: 10pt;">2006年〈只為一個人〉(Super Junior - K.R.Y.)</span><br />
	<span style="font-size: 10pt;">2006年《雪花 눈꽃OST》 - Super Junior K.R.Y - 〈停下腳步〉</span><br />
	<span style="font-size: 10pt;">2010年 厲旭&amp;Beige - 〈與朋友墜入情網〉</span><br />
	<span style="font-size: 10pt;">2010年 甜蜜我家OST - 〈Smile Again〉</span><br />
	<span style="font-size: 10pt;">2010年 總統OST - Super Junior 圭賢 晟敏 厲旭 - 〈緊咬嘴唇〉</span><br />
	<span style="font-size: 10pt;">2010年 沒關係爸爸的女兒OST - 東海 厲旭 - 〈像現在一樣〉</span><br />
	<span style="font-size: 10pt;">2011年 間諜明月OST - 〈如果更愛的話〉</span><br />
	<span style="font-size: 10pt;">2012年 致美麗的你OST - SUPER JUNIOR K.R.Y - 〈SKY〉</span><br />
	<span style="font-size: 10pt;">2012年 熊貓小姐和刺蝟OST - SUPER JUNIOR K.R.Y - 〈LOVING YOU〉<br />
	2013年 音樂劇《High School Musical》OST 新的開始 (Start Of Something New) 厲旭、luna（f(x)）<br />
	2013年 電視劇《女王的教室》OST Maybe Tomorrow 厲旭</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 10pt;">音樂劇：</span></strong></span><br />
	<span style="font-size: 10pt;">2011年《狼的誘惑》男主角<br />
	2013年《High School Musical (歌舞青春)》男主角 (飾演Troy)<br />
	2014年《女神在看》男主角 (飾演劉順浩)</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 10pt;">主持：</span></strong></span><br />
	<span style="font-size: 10pt;">2011-12年：KBS FM「KISS THE RADIO」 DJ（與晟敏）</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="font-size: 10pt;"><img alt="RyeWook.jpg" border="0" src="https://pic.pimg.tw/hanzhiyu/1437199714-3920692755_m.jpg" style="border: 0px;" title="RyeWook.jpg" /></span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="font-size: 10pt;">&nbsp;</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	&nbsp;</p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	&nbsp;</p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="font-size: 12pt; color: rgb(0, 0, 0);"><strong>起範</strong></span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="font-size: 10pt;"><img alt="117717-212481" height="530" src="http://pic.pimg.tw/hanzhiyu/1347771587-3329116588_n.jpg?v=1347771588" style="border: 0px;" title="117717-212481" /></span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="font-size: 10pt;">藝名：Ki Bum（기범）</span><br />
	<span style="font-size: 10pt;">本名：金起範（김기범）Kim Ki-bum</span><br />
	<span style="font-size: 10pt;">出生日期：1987年8月21日</span><br />
	<span style="font-size: 10pt;">身高：177cm</span><br />
	<span style="font-size: 10pt;">體重：60kg</span><br />
	<span style="font-size: 10pt;">血型：A型</span><br />
	<span style="font-size: 10pt;">隊中職務：主Rapper</span><br />
	<span style="font-size: 10pt;">※ 2009年起暫停參與Super Junior唱片宣傳活動</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 10pt;">電視劇：</span></strong></span><br />
	<span style="font-size: 10pt;">2004年 KBS《四月之吻》</span><br />
	<span style="font-size: 10pt;">2005年 KBS《玉琳的成長日記2》Sharp2</span><br />
	<span style="font-size: 10pt;">2005年 MBC《彩虹羅曼史》Rainbow Romance</span><br />
	<span style="font-size: 10pt;">2005年 SBS《嫁給百萬富翁》(飾演主角小時候)</span><br />
	<span style="font-size: 10pt;">2006年 SBS《雪花》</span><br />
	<span style="font-size: 10pt;">2008年 MBC《春子家有喜事了》</span><br />
	<span style="font-size: 10pt;">2010年 話劇《午覺》</span><br />
	<span style="font-size: 10pt;">2011年 SBS《樹大根深》</span><br />
	<span style="font-size: 10pt;">2012年 tvN 《我愛李泰利》飾 黃民秀/金銀銅<br />
	2013年 中國HBS《天龍八部》飾 段譽<br />
	2014年 中國HBS《吉祥天寶》飾 朱天寶</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 10pt;">電影：</span></strong><span style="color: rgb(255, 255, 255);"><span style="font-size: 10pt;">轉載自</span><span style="font-size: 10pt;">http://hanzhiyu.pixnet.net/blog</span></span></span><br />
	<span style="font-size: 10pt;">2007年《花美男連鎖恐怖事件》</span><br />
	<span style="font-size: 10pt;">2010年《注文津》</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 10pt;">MV：</span></strong></span><br />
	<span style="font-size: 10pt;">2006年 天上智喜〈My Everything〉</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 10pt;">廣告代言：</span></strong></span><br />
	<span style="font-size: 10pt;">OLIVE校服 「베이직」廣告模特</span><br />
	<span style="font-size: 10pt;">現代汽車 「NF SONATA」 廣告模特</span><br />
	<span style="font-size: 10pt;">KTF手機</span><br />
	<span style="font-size: 10pt;">ODUGII泡麵</span><br />
	<span style="font-size: 10pt;">SPRIS秋季服飾</span><br />
	<span style="font-size: 10pt;">Mychew口香糖</span><br />
	<span style="font-size: 10pt;">LG手機廣告</span><br />
	<span style="font-size: 10pt;">掌上遊戲機</span><br />
	<span style="font-size: 10pt;">SPRIS服飾廣告模特</span><br />
	<span style="font-size: 10pt;">크라운제「마이쮸」 廣告模特</span><br />
	<span style="font-size: 10pt;">糖果mychew</span><br />
	<span style="font-size: 10pt;">Dior唇膏CF</span><br />
	<span style="font-size: 10pt;">12PLUS EXTRA COOL代言</span><br />
	<span style="font-size: 10pt;">GUNPLA模型代言</span><br />
	<span style="font-size: 10pt;">SUPER JUNIOR IVY廣告</span><br />
	<span style="font-size: 10pt;">SUPER JUNIOR YAMAHA FINO廣告</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="font-size: 10pt;">&nbsp;</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	&nbsp;</p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	&nbsp;</p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="font-size: 12pt; color: rgb(0, 0, 0);"><strong>圭賢</strong></span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<img alt="KyuHyun-2.jpg" border="0" src="https://pic.pimg.tw/hanzhiyu/1437199711-2100358161_n.jpg" style="border: 0px;" title="KyuHyun-2.jpg" /></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="font-size: 10pt;">藝名：Kyu-Hyun（규현）</span><br />
	<span style="font-size: 10pt;">本名：曹圭賢（조규현）Cho Kyu-Hyun</span><br />
	<span style="font-size: 10pt;">出生日期：1988年2月3日</span><br />
	<span style="font-size: 10pt;">身高：180cm</span><br />
	<span style="font-size: 10pt;">體重：59kg</span><br />
	<span style="font-size: 10pt;">血型：A型</span><br />
	<span style="font-size: 10pt;">隊中職務：主唱、副領舞</span><br />
	<span style="font-size: 10pt;">學歷：慶熙大學後現代音樂系</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="font-size: 10pt; color: rgb(0, 0, 0);"><strong>個人音樂作品：</strong><span style="color: rgb(255, 255, 255);">轉載自http://hanzhiyu.pixnet.net/blog</span></span><br />
	<span style="font-size: 10pt;">2006年〈Smile〉《鬣狗 OST》</span><br />
	<span style="font-size: 10pt;">2007年〈Just For One Day〉《Air City OST》(與天上智喜合唱)</span><br />
	<span style="font-size: 10pt;">2008年〈Wish〉《MIROTIC》 (與俊秀、昌珉、厲旭合唱)</span><br />
	<span style="font-size: 10pt;">2009年〈七年間的愛〉《劉英實20周年紀念專輯》</span><br />
	<span style="font-size: 10pt;">2009年〈Happy Bubble〉(與東海 、韓智敏合唱)</span><br />
	<span style="font-size: 10pt;">2010年〈傾聽你〉《Pasta OST》</span><br />
	<span style="font-size: 10pt;">2010年〈希望是永不沉寂的夢想〉《麵包王金卓求 OST》</span><br />
	<span style="font-size: 10pt;">2010年〈咬緊雙唇《總統 OST》〉(與晟敏、厲旭合唱)</span><br />
	<span style="font-size: 10pt;">2010年〈Angel〉《HARU OST》(與晟敏、銀赫、東海、厲旭合唱)</span><br />
	<span style="font-size: 10pt;">2011年〈晚秋〉《月刊，尹鍾信》</span><br />
	<span style="font-size: 10pt;">2011年〈分手的方法〉《波塞冬 OST》</span><br />
	<span style="font-size: 10pt;">2012年〈刃雨〉《武神 OST》</span><br />
	<span style="font-size: 10pt;">2012年〈아름다운 그대에게〉《致美麗的你 OST》 (與Tiffany)<br />
	2012年〈Loving You〉《熊貓小姐和刺蝟 OST》（與Super Junior藝聲、厲旭合唱）<br />
	2012年〈就一次〉《大風水 OST》<br />
	2013年〈Shine Your Way〉《克魯德一家 OST》（與luna合唱）<br />
	2013年〈T&#39;ple Couple Want it〉《SKT廣告OST》（圭賢、徐玄合唱）<br />
	2014年 首張迷你專輯《在光化門》<br />
	2015年〈直到抵達妳的星球〉《豪苟的愛》OST<br />
	2015年〈我們相愛的時間〉《愛你的時間》OST</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 10pt;">MV：</span></strong></span><br />
	<span style="font-size: 10pt;">2009年 東海 、圭賢、韓智敏〈Happy Bubble〉</span><br />
	<span style="font-size: 10pt;">2011年 〈晚秋〉（與尹鍾信共同演出）</span><br />
	<span style="font-size: 10pt;">2011年 TRAX〈Blind〉（與f(x)Victoria共同演出）</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 10pt;">音樂劇：</span></strong></span><br />
	<span style="font-size: 10pt;">2010~2011年《三劍客》男主角</span><br />
	<span style="font-size: 10pt;">2012年 《Catch Me If You Can》男主角<br />
	2014年《擁抱太陽的月亮》 飾演 李暄<br />
	2014年《Singing in the rain》 飾演 Don Lockwood<br />
	2014年《那些日子》飾演 武英<br />
	2015年《羅賓漢》飾演 菲利普王子</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 10pt;">電視劇：</span></strong></span><br />
	<span style="font-size: 10pt;">2009年 CCTV《青春舞台》客串</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 10pt;">主持：</span></strong><span style="color: rgb(255, 255, 255);"><span style="font-size: 10pt;">轉載自</span><span style="font-size: 10pt;">http://hanzhiyu.pixnet.net/blog</span></span></span><br />
	<span style="font-size: 10pt;">2010年 MBC「Super Junior的先見之明」 主持人</span><br />
	<span style="font-size: 10pt;">2011年 東風衛視「名人帶路」 主持人</span><br />
	<span style="font-size: 10pt;">2011年 MBC「黃金漁場 Radio Star」 主持人</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="font-size: 10pt;"><span style="color: rgb(0, 0, 0);"><strong>綜藝節目：</strong></span><br />
	2011年 KBS《不朽的名曲2》<br />
	2015年 KBS2《撲通撲通印度》</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 10pt;">個人獎項：</span></strong></span><br />
	<span style="font-size: 10pt;">2011年 「Golden Ticket Awards」音樂劇新星獎</span><br />
	<span style="font-size: 10pt;">2011年 MBC「演藝大賞」MC特別賞（黃金漁場Radio Star）</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 10pt;">廣告代言：</span></strong></span><br />
	<span style="font-size: 10pt;">2009年 韓國Happy Bath洗面乳</span><br />
	<span style="font-size: 10pt;">2011年 泰國Masita海苔</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="font-size: 10pt;"><img alt="KyuHyun.jpg" border="0" src="https://pic.pimg.tw/hanzhiyu/1437199710-2365378133_m.jpg" style="border: 0px;" title="KyuHyun.jpg" /></span></p>

</body>
</html>