<!doctype html>
{% load staticfiles %}
<html>
<head>
<title>10314146</title>
<meta charset=utf-8>
</head>
<body>
<h1>成員</h1> <br>
<h2><p><a href=/main>回首頁</a></p></h2>
<img alt="1." border="0" src="http://m.niusnews.com/upload/imgs/default/15JulW/sj/1.jpg" style="border: 0px;" title="1." /></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 128);"><strong><span style="font-size: 15pt;">名稱：Super Junior</span></strong></span><br />
	<span style="color: rgb(0, 0, 128);"><strong><span style="font-size: 15pt;">原文名：슈퍼주니어</span></strong></span><br />
	<span style="color: rgb(0, 0, 128);"><strong><span style="font-size: 15pt;">隸屬公司：SM Entertainment</span></strong></span><br />
	<span style="color: rgb(0, 0, 128);"><strong><span style="font-size: 15pt;">出道時間：2005年11月6日</span></strong></span><br />
	<span style="color: rgb(0, 0, 128);"><strong><span style="font-size: 15pt;">出道作品：《Twins (Knock Out)》</span></strong></span><br />
	<span style="color: rgb(0, 0, 128);"><strong><span style="font-size: 15pt;">成員：十二名</span></strong></span><br />
	<span style="color: rgb(0, 0, 128);"><strong><span style="font-size: 15pt;">歌迷名稱：妖精 E.L.F（Ever Lasting Friends），意思是永遠的朋友。</span></strong></span><br />
	<span style="color: rgb(0, 0, 128);"><strong><span style="font-size: 15pt;">應援物：寶藍色</span></strong></span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="font-size: 15pt; color: rgb(0, 0, 128);"><strong>韓國官方網站：<a href="http://superjunior.smtown.com/" style="color: rgb(169, 6, 20); text-decoration: none;" target="_blank">http://superjunior.smtown.com/</a></strong></span><br />
	<span style="font-size: 15pt; color: rgb(0, 0, 128);"><strong>日本官方網站：<a href="http://superjunior-jp.net/" style="color: rgb(169, 6, 20); text-decoration: none;" target="_blank">http://superjunior-jp.net/</a></strong></span><br />
	<span style="font-size: 15pt; color: rgb(0, 0, 128);"><strong>台灣官方網站：<a href="http://www.avex.com.tw/superjunior/" style="color: rgb(169, 6, 20); text-decoration: none;" target="_blank">http://www.avex.com.tw/superjunior/</a></strong></span><br />
	<span style="font-size: 15pt; color: rgb(0, 0, 128);"><strong>官方微博：<a href="http://weibo.com/superjunior/" style="color: rgb(169, 6, 20); text-decoration: none;" target="_blank">http://weibo.com/superjunior/</a></strong></span><br />
	<span style="font-size: 15pt; color: rgb(0, 0, 128);"><strong>官方Facebook：<a href="http://www.facebook.com/superjunior?sk=wall/" style="color: rgb(169, 6, 20); text-decoration: none;" target="_blank">http://www.facebook.com/superjunior?sk=wall/</a></strong></span><br />
	<span style="font-size: 15pt; color: rgb(0, 0, 128);"><strong>官方Youtube：<a href="http://www.youtube.com/superjunior/" style="color: rgb(169, 6, 20); text-decoration: none;" target="_blank">http://www.youtube.com/superjunior/</a></strong></span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 128);"><strong><span style="font-size: 10pt;">簡介：</span></strong></span><br />
	<span style="font-size: 15pt;">簡稱為SJ 或SuJu（韓語：슈​​주），是由韓國SM Entertainment創辦人李秀滿發掘的男子組合。<br>
	於2005年11月6日出道，出道初期有12名成員，<br>
	分別是：利特、希澈、韓庚、藝聲、強仁、神童、晟敏、銀赫、始源、東海、厲旭、起範。<br>
	第13位成員圭賢於2006年5月加入。</span><br />
	<span style="font-size: 15pt;">2009年起范暫停參與SJ團體歌唱及唱片宣傳活動，並專註於影視發展；<br>同年12月21日韓庚宣布離隊單飛。韓庚和SM Entertainment的合約糾紛已於2011年9月27日正式達成和解，韓庚正式解約離隊。</span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	&nbsp;</p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	&nbsp;</p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="font-size: 17pt; color: rgb(255, 0, 0);"><strong>成員介紹：</strong></span></p>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0); font-size: 17pt;"><strong>利特</strong></span></p>
<a href={% url 'wiki:LeeTeuk' %}><input type=image src={% static 'wiki/img/1437199713-1744031690_n.jpg' %} alt=LeeTeuk></a> <br>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0); font-size: 17pt;"><strong>希澈</strong></span></p>
<a href={% url 'wiki:HeeChul' %}><input type=image src={% static 'wiki/img/heechul.jpg' %} alt=HeeChul></a> <br>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0); font-size: 17pt;"><strong>藝聲</strong></span></p>
<a href={% url 'wiki:YeSung' %}><input type=image src={% static 'wiki/img/1437199719-3682544414_n.jpg' %} alt=YeSung></a> <br>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0); font-size: 17pt;"><strong>強仁</strong></span></p>
<a href={% url 'wiki:KangIn' %}><input type=image src={% static 'wiki/img/KangIn.jpg' %} alt=KangIn></a> <br>	
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0); font-size: 17pt;"><strong>神童</strong></span></p>
<a href={% url 'wiki:ShinDong' %}><input type=image src={% static 'wiki/img/ShinDong.jpg' %} alt=ShinDong></a> <br>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0); font-size: 17pt;"><strong>晟敏</strong></span></p>
<a href={% url 'wiki:SungMin' %}><input type=image src={% static 'wiki/img/SungMin.jpg' %} alt=SungMin></a> <br>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0); font-size: 17pt;"><strong>銀赫</strong></span></p>
<a href={% url 'wiki:EunHyuk' %}><input type=image src={% static 'wiki/img/EunHyuk.jpg' %} alt=EunHyuk></a> <br>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0); font-size: 17pt;"><strong>始源</strong></span></p>
<a href={% url 'wiki:SiWon' %}><input type=image src={% static 'wiki/img/Siwon.jpg' %} alt=Siwon></a> <br>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0); font-size: 17pt;"><strong>東海</strong></span></p>
<a href={% url 'wiki:DongHae' %}><input type=image src={% static 'wiki/img/DongHae.jpg' %} alt=DongHae></a> <br>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0); font-size: 17pt;"><strong>厲旭</strong></span></p>
<a href={% url 'wiki:RyeoWook' %}><input type=image src={% static 'wiki/img/RyeoWook.jpg' %} alt=RyeoWook></a> <br>
<p style="margin: 0px 0px 1em; padding: 0px; line-height: 21.6px; color: rgb(85, 85, 85); font-family: verdana, arial, sans-serif;">
	<span style="color: rgb(0, 0, 0); font-size: 17pt;"><strong>圭賢</strong></span></p>
<a href={% url 'wiki:KyuHyun' %}><input type=image src={% static 'wiki/img/KyuHyun.jpg' %} alt=KyuHyun></a> <br>


</body>
</html>