<!doctype html>
{% load staticfiles %}
<html>
<head>
<title>10314146</title>
<meta charset=utf-8>
</head>
<body style="background-color:MistyRose;">
<h1>歷年專輯介紹</h1><br>
<h2><p><a href={% url 'main:main' %}>回首頁</a><p></h2>

<h1>2005年</h1>
<a href={% url 'wiki:首張同名專輯' %}><input type=image src={% static 'wiki/img/AVKCD.jpg' %} alt=SuperJunior首張同名專輯></a> <br>
<h1>2008年</h1>
<a href={% url 'wiki:U台灣限定普通版' %}><input type=image src={% static 'wiki/img/AVKSG82009B_120.jpg' %} alt=U台灣限定普通版></a> <br>
<h1>2009年</h1>
<a href={% url 'wiki:sorrysorry' %}><input type=image src={% static 'wiki/img/4a79461cb3978.jpg' %} alt=sorrysorry></a> <br>
<h1>2010年</h1>
<a href={% url 'wiki:Bonamana' %}><input type=image src={% static 'wiki/img/51OazfcqX9L.jpg' %} alt=Bonamana></a> <br>
<h1>2014年</h1>
<a href={% url 'wiki:MAMACITA' %}><input type=image src={% static 'wiki/img/下載.jpg' %} alt=MAMACITA></a> <br>

</body>
</html>