<!doctype html>
{% load staticfiles %}
<html>
<head>
<title>10314146</title>
<meta charset=utf-8>
</head>
<body style="background-color:MistyRose;">
<h1>歷年專輯介紹</h1>
<h2><p><a href={% url 'wiki:歷年專輯介紹' %}>回歷年專輯介紹</a><p></h2>

<table border="0" cellpadding="0" cellspacing="0" class="mainBor" style="font-family: Verdana, Arial, Helvetica, sans-serif;" width="98%">
	<tbody>
		<tr>
			<td class="s14B" style="font-family: Arial, Helvetica, sans-serif; font-size: 15pt; color: rgb(0, 0, 0);" valign="bottom">
				&nbsp;</td>
			<td class="s9" colspan="2" style="font-family: Arial, Helvetica, sans-serif; font-size: 15pt; color: rgb(0, 0, 0);" valign="bottom">
				Super Junior 首張同名專輯&nbsp;<br />
				Super Junior05</td>
		</tr>
		<tr>
			<td class="s816" style="font-family: Arial, Helvetica, sans-serif; font-size: 15pt; color: rgb(0, 0, 0);" valign="top">
				&nbsp;</td>
			<td class="NUMBER" colspan="2" height="18" style="font-family: Arial, Helvetica, sans-serif; font-size: 15pt; color: rgb(0, 0, 0);" valign="bottom">
				<table border="0" cellpadding="0" cellspacing="0" width="100%">
					<tbody>
						<tr class="NUMBER">
							<td height="14" style="font-size: 15pt;">
															<p>
									2006/2/10／AVKCD80178／ CD Album</p>
								<p>
									&nbsp;</p>
								<p>
									<img class="photoBor" height="200" src="http://www.avex.com.tw/upload/cover/AVKCD80178_120.jpg" width="200" /></p>
								<p>
									成功塑造男孩團體東方神起的韓國S.M.Entertainment，同時期祕密培訓的超男團體『Super Junior』終於出道。由12位團員所組成的他們，與以往所有男孩團體極大不同，在經紀公司2年到5年的嚴厲訓練下，團員每人都已能獨當一面，在各種不同領域中活躍。甚至在出道前，就讓團員們擔任起大型活動的主持人、連續劇男主角、電台DJ及廣告主角，這樣的實際演練，更是堅固了『Super Junior』的渾厚實力，讓他們在正式以歌手身分出道時就能一觸即發。</p>
								<p>
									&nbsp;</p>
								<p>
									&nbsp;</p>
								<table border="0" cellpadding="0" cellspacing="0" class="mainBor" width="98%">
									<tbody>
										<tr>
											<td class="s816" colspan="2" style="font-size: 15pt;" valign="top">
												<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
													<tbody>
														<tr class="s9">
															<td colspan="5" style="font-size: 15pt;">
																<strong>DISC 1</strong></td>
														</tr>
														<tr background="/3rd/images/dot_w.gif" class="s9">
															<td background="http://blog.xuite.net/3rd/images/dot_w.gif" colspan="5" style="font-size: 9pt;">
																<img height="2" src="http://www.avex.com.tw/3rd/images/spacer.gif" width="10" /></td>
														</tr>
														<tr class="s9">
															<td style="font-size: 15pt;" valign="top" width="22">
																1.</td>
															<td style="font-size: 15pt;">
																Miracle</td>
															<td align="center" style="font-size: 15pt;" width="50">
															</td>
															<td align="center" style="font-size: 15pt;" width="50">
															</td>
															<td align="center" style="font-size: 15pt;" width="10">
																&nbsp;</td>
														</tr>
														<tr background="/3rd/images/dot_w.gif" class="s9">
															<td background="http://blog.xuite.net/3rd/images/dot_w.gif" colspan="5" style="font-size: 15pt;">
																<img height="2" src="http://www.avex.com.tw/3rd/images/spacer.gif" width="10" /></td>
														</tr>
														<tr class="s9">
															<td style="font-size: 15pt;" valign="top" width="22">
																2.</td>
															<td style="font-size: 15pt;">
																TWINS (Knock Out)</td>
															<td align="center" style="font-size: 15pt;" width="50">
																&nbsp;</td>
															<td align="center" style="font-size: 15pt;" width="50">
															</td>
															<td align="center" style="font-size: 15pt;" width="10">
																&nbsp;</td>
														</tr>
														<tr background="/3rd/images/dot_w.gif" class="s9">
															<td background="http://blog.xuite.net/3rd/images/dot_w.gif" colspan="5" style="font-size: 15pt;">
																<img height="2" src="http://www.avex.com.tw/3rd/images/spacer.gif" width="10" /></td>
														</tr>
														<tr class="s9">
															<td style="font-size: 15pt;" valign="top" width="22">
																3.</td>
															<td style="font-size: 15pt;">
																You are the one</td>
															<td align="center" style="font-size: 15pt;" width="50">
																&nbsp;</td>
															<td align="center" style="font-size: 15pt;" width="50">
																&nbsp;</td>
															<td align="center" style="font-size: 15pt;" width="10">
																&nbsp;</td>
														</tr>
														<tr background="/3rd/images/dot_w.gif" class="s9">
															<td background="http://blog.xuite.net/3rd/images/dot_w.gif" colspan="5" style="font-size: 15pt;">
																<img height="2" src="http://www.avex.com.tw/3rd/images/spacer.gif" width="10" /></td>
														</tr>
														<tr class="s9">
															<td style="font-size: 15pt;" valign="top" width="22">
																4.</td>
															<td style="font-size: 15pt;">
																Rock this house</td>
															<td align="center" style="font-size: 15pt;" width="50">
																&nbsp;</td>
															<td align="center" style="font-size: 15pt;" width="50">
																&nbsp;</td>
															<td align="center" style="font-size: 15pt;" width="10">
																&nbsp;</td>
														</tr>
														<tr background="/3rd/images/dot_w.gif" class="s9">
															<td background="http://blog.xuite.net/3rd/images/dot_w.gif" colspan="5" style="font-size: 15pt;">
																<img height="2" src="http://www.avex.com.tw/3rd/images/spacer.gif" width="10" /></td>
														</tr>
														<tr class="s9">
															<td style="font-size: 15pt;" valign="top" width="22">
																5.</td>
															<td style="font-size: 15pt;">
																小心翼翼 (Way for love)</td>
															<td align="center" style="font-size: 15pt;" width="50">
																&nbsp;</td>
															<td align="center" style="font-size: 15pt;" width="50">
																&nbsp;</td>
															<td align="center" style="font-size: 15pt;" width="10">
																&nbsp;</td>
														</tr>
														<tr background="/3rd/images/dot_w.gif" class="s9">
															<td background="http://blog.xuite.net/3rd/images/dot_w.gif" colspan="5" style="font-size: 15pt;">
																<img height="2" src="http://www.avex.com.tw/3rd/images/spacer.gif" width="10" /></td>
														</tr>
														<tr class="s9">
															<td style="font-size: 15pt;" valign="top" width="22">
																6.</td>
															<td style="font-size: 15pt;">
																So I</td>
															<td align="center" style="font-size: 15pt;" width="50">
																&nbsp;</td>
															<td align="center" style="font-size: 15pt;" width="50">
																&nbsp;</td>
															<td align="center" style="font-size: 15pt;" width="10">
																&nbsp;</td>
														</tr>
														<tr background="/3rd/images/dot_w.gif" class="s9">
															<td background="http://blog.xuite.net/3rd/images/dot_w.gif" colspan="5" style="font-size: 15pt;">
																<img height="2" src="http://www.avex.com.tw/3rd/images/spacer.gif" width="10" /></td>
														</tr>
														<tr class="s9">
															<td style="font-size: 15pt;" valign="top" width="22">
																7.</td>
															<td style="font-size: 15pt;">
																OVER</td>
															<td align="center" style="font-size: 15pt;" width="50">
																&nbsp;</td>
															<td align="center" style="font-size: 15pt;" width="50">
																&nbsp;</td>
															<td align="center" style="font-size: 15pt;" width="10">
																&nbsp;</td>
														</tr>
														<tr background="/3rd/images/dot_w.gif" class="s9">
															<td background="http://blog.xuite.net/3rd/images/dot_w.gif" colspan="5" style="font-size: 15pt;">
																<img height="2" src="http://www.avex.com.tw/3rd/images/spacer.gif" width="10" /></td>
														</tr>
														<tr class="s9">
															<td style="font-size: 15pt;" valign="top" width="22">
																8.</td>
															<td style="font-size: 15pt;">
																Keep in touch</td>
															<td align="center" style="font-size: 15pt;" width="50">
																&nbsp;</td>
															<td align="center" style="font-size: 15pt;" width="50">
																&nbsp;</td>
															<td align="center" style="font-size: 15pt;" width="10">
																&nbsp;</td>
														</tr>
														<tr background="/3rd/images/dot_w.gif" class="s9">
															<td background="http://blog.xuite.net/3rd/images/dot_w.gif" colspan="5" style="font-size: 15pt;">
																<img height="2" src="http://www.avex.com.tw/3rd/images/spacer.gif" width="10" /></td>
														</tr>
														<tr class="s9">
															<td style="font-size: 15pt;" valign="top" width="22">
																9.</td>
															<td style="font-size: 15pt;">
																L.O.V.E</td>
															<td align="center" style="font-size: 15pt;" width="50">
																&nbsp;</td>
															<td align="center" style="font-size: 15pt;" width="50">
																&nbsp;</td>
															<td align="center" style="font-size: 15pt;" width="10">
																&nbsp;</td>
														</tr>
														<tr background="/3rd/images/dot_w.gif" class="s9">
															<td background="http://blog.xuite.net/3rd/images/dot_w.gif" colspan="5" style="font-size: 15pt;">
																<img height="2" src="http://www.avex.com.tw/3rd/images/spacer.gif" width="10" /></td>
														</tr>
														<tr class="s9">
															<td style="font-size: 15pt;" valign="top" width="22">
																10.</td>
															<td style="font-size: 15pt;">
																Believe</td>
															<td align="center" style="font-size: 15pt;" width="50">
																&nbsp;</td>
															<td align="center" style="font-size: 15pt;" width="50">
																&nbsp;</td>
															<td align="center" style="font-size: 15pt;" width="10">
																&nbsp;</td>
														</tr>
														<tr background="/3rd/images/dot_w.gif" class="s9">
															<td background="http://blog.xuite.net/3rd/images/dot_w.gif" colspan="5" style="font-size: 15pt;">
																<img height="2" src="http://www.avex.com.tw/3rd/images/spacer.gif" width="10" /></td>
														</tr>
														<tr class="s9">
															<td style="font-size: 15pt;" valign="top" width="22">
																11.</td>
															<td style="font-size: 15pt;">
																TWINS (Knock Out) (Inst)</td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table>
								<p>
									&nbsp;</p>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
<p>
	&nbsp;</p>
	


</body>
</html>
