<!doctype html>
{% load staticfiles %}
<html>
<head>
<title>10314146</title><h1>
<meta charset=utf-8>
<link rel=stylesheet href={% static 'main/css/main.css' %}>

<body style="background-color:MistyRose;">
{% if error %}
 <p class=error>{{error}}</p>
{% endif %}
<form method=post action={% url 'account:userLogin' %}>
 {% csrf_token %}
</head>
<h5>
 登入<br>
 使用者名稱：<input type=text name=username><br>
 密碼：<input type=password name=password><br>
 </h5>
 <input type=submit value=送出>
</form>
<br>
<p><a href={% url 'main:main' %}>回首頁</a></p></h1>
</body>
</html>
